In [1]:
import pandas as pd
import numpy as np
import matplotlib

In [2]:
pd.reset_option('all')

C:\Users\zhenger\AppData\Local\Temp\ipykernel_17248\2786130087.py:1: FutureWarning: column_space is deprecated and will be removed in a future version. Use df.to_string(col_space=...) instead.
  pd.reset_option('all')
C:\Users\zhenger\AppData\Local\Temp\ipykernel_17248\2786130087.py:1: FutureWarning: As the xlwt package is no longer maintained, the xlwt engine will be removed in a future version of pandas. This is the only engine in pandas that supports writing in the xls format. Install openpyxl and write to an xlsx file instead.
  pd.reset_option('all')
C:\Users\zhenger\AppData\Local\Temp\ipykernel_17248\2786130087.py:1: FutureWarning:
: boolean
    use_inf_as_null had been deprecated and will be removed in a future
    version. Use `use_inf_as_na` instead.

  pd.reset_option('all')

In [3]:
def date_parser(date_str):
    return pd.to_datetime(date_str, format='%d/%m/%Y %H:%M:%S')

In [4]:
EL04_org = pd.read_excel('//wdcntfsvs01.corporate.nzpost.co.nz/mdaas$/zhenger/My Documents/DR People Turnover Cost/raw data/EL04 Historical 3 years.xlsx',sheet_name='Raw Data',keep_default_na=True, parse_dates=['RUNDATE_1', 'FIRST_COMMENCE', 'RUNDATE','ANNL_LV_SERVICE_DT','ACRL_COMMENCE','DATE_OF_BIRTH'], date_parser=date_parser)

In [ ]:
EL22_org = pd.read_excel('//wdcntfsvs01.corporate.nzpost.co.nz/mdaas$/zhenger/My Documents/DR People Turnover Cost/raw data/EL22 Historical.xlsx',sheet_name='Raw Data',keep_default_na=True, parse_dates=['SERVICE_DATE', 'HIRE_DATE', 'TERM_DATE','PROCESSED_DATE'], date_parser=date_parser)

In [ ]:
EL04_22_org = pd.read_excel('//wdcntfsvs01.corporate.nzpost.co.nz/mdaas$/zhenger/My Documents/DR People Turnover Cost/raw data/el22 and el04.xlsx',sheet_name='Raw Data',keep_default_na=True,parse_dates=['SERVICE_DATE', 'TERM_DATE','PROCESSED_DATE','RUNDATE','FIRST_COMMENCE','ANNL_LV_SERVICE_DT','ACRL_COMMENCE'], date_parser=date_parser)

In [ ]:
pd.set_option('display.max_rows',50)
pd.set_option('display.max_columns' , 150)
EL04_org.info(verbose=True, show_counts=True)

In [ ]:
EL04_22_org.info(verbose=True, show_counts=True)
EL04_org.info(verbose=True, show_counts=True)
EL22_org.info(verbose=True, show_counts=True)

In [ ]:
EL22_org_vol = EL22_org[EL22_org['VOLINVOL'] == 'Vol']

In [ ]:
# EL04_22_org['TERM_DATE']= pd.to_datetime(EL04_22_org['TERM_DATE'], format='%d/%m/%Y %H:%M:%S')
# EL04_22_org['RUNDATE_1']= pd.to_datetime(EL04_22_org['TERM_DATE'], format='%d/%m/%Y %H:%M:%S')
# EL04_22_org['SERVICE_DATE'] = pd.to_datetime(EL04_22_org["SERVICE_DATE"], format='%d/%m/%Y %H:%M:%S')
# EL22_org["TERM_DATE"] = pd.to_datetime(EL22_org["TERM_DATE"], format='%d/%m/%Y %H:%M:%S')
# EL22_org['RUNDATE_1']= pd.to_datetime(EL04_22_org['TERM_DATE'], format='%d/%m/%Y %H:%M:%S')
# EL22_org['SERVICE_DATE'] = pd.to_datetime(EL22_org["SERVICE_DATE"], format='%d/%m/%Y %H:%M:%S')
# EL04_org["TERM_DATE"] = pd.to_datetime(EL22_org["TERM_DATE"], format='%d/%m/%Y %H:%M:%S')
# EL04_org['RUNDATE_1']= pd.to_datetime(EL04_22_org['TERM_DATE'], format='%d/%m/%Y %H:%M:%S')
# EL04_org['SERVICE_DATE'] = pd.to_datetime(EL22_org["SERVICE_DATE"], format='%d/%m/%Y %H:%M:%S')

In [ ]:
EL04_org['RUNDATE_1'].sort_values()

In [ ]:
# # create a sample DataFrame with some null values
# df = pd.DataFrame({'A': [1, 2, None, 4],
#                    'B': ['foo', None, 'bar', 'baz'],
#                    'C': [True, False, None, True]})

# # drop rows where B is null
# filtered_df = df.dropna(subset=['B'])

# # print the filtered DataFrame
# print(filtered_df)

In [ ]:
EL22_org_vol.info()

In [ ]:
#check if all turnover staffs is in two el22 report
pd.set_option('display.max_columns', None)
EL22_org[~EL22_org['EMPLOYEE_NO'].isin(EL04_22_org['EMPLOYEE_NO'])]
#El04_ccc include invol and term_date before 2020/03/24
EL22_org[~EL22_org['EMPLOYEE_NO'].isin(EL04_org['EMPLOYEE_NO'])]
# (EL04_22_CCC_3y['EMPLOYEE_NO'] == '1011031').sum()

In [ ]:
EL22_org_vol['EMPLOYEE_NO'].nunique()

In [ ]:
EL22_org_vol[EL22_org_vol.duplicated(subset='EMPLOYEE_NO', keep=False)]['EMPLOYEE_NO'].sort_values()

In [ ]:
EL22_org_vol[EL22_org_vol['EMPLOYEE_NO'] == 831038]

In [ ]:
EL04_org[EL04_org['EMPLOYEE_NO'] == 831038]

In [ ]:
EL22_org_vol_sm = EL22_org_vol.drop(['NAME_REPORT','GENDER','LOCATION_NAME','PAYGRP','POSITION_NO','GRADE','STEP_NO','CATEGORY','EMPLOYMENT_TYPE','EMAIL','EMP_STAT_DESC','RC','RC_DESCRIPTION','COMPANY_CODE','CLEVEL','CLEVEL1_DESC','CLEVEL2_DESC','CLEVEL3_DESC','CLEVEL4_DESC','CLEVEL5_DESC'],axis=1)

In [ ]:
EL22_org_vol_sm = EL22_org_vol[['EMPLOYEE_NO','JOB_NO', 'TERM_DATE']]

In [ ]:
El04_22_3y_combined = pd.merge(EL04_org, EL22_org_vol_sm, on=['EMPLOYEE_NO', 'JOB_NO'],how='left')

In [ ]:
El04_22_3y_combined.info(verbose=True, show_counts=True)

In [ ]:
El04_22_3y_combined.head()

In [ ]:
El04_22_3y_combined_copy = El04_22_3y_combined.copy()
El04_22_3y_combined_copy.rename(columns={'RUNDATE_1': 'PRESENT_DATE'}, inplace=True)
El04_22_3y_combined_copy.sort_values(by='TERM_DATE', ascending=False)
# EL22_CCC_3y['TERM_DATE'].sort_values()

In [ ]:
El04_22_3y_combined_copy['DAYS_TO_TERMINATION'] = (El04_22_3y_combined_copy['TERM_DATE'] - El04_22_3y_combined_copy['PRESENT_DATE']).dt.days

In [ ]:
El04_22_3y_combined_copy[El04_22_3y_combined_copy['DAYS_TO_TERMINATION']<0]

In [ ]:
El04_22_3y_combined_copy[El04_22_3y_combined_copy['DAYS_TO_TERMINATION']<0]['EMPLOYEE_NO'].value_counts()

In [ ]:
El04_22_3y_combined_copy[(El04_22_3y_combined_copy['DAYS_TO_TERMINATION']>0) | (El04_22_3y_combined_copy['DAYS_TO_TERMINATION'].isnull())]

In [ ]:
El04_22_3y_combined_copy[El04_22_3y_combined_copy['DAYS_TO_TERMINATION']<0]

In [ ]:
El04_22_3y_combined_copy['DAYS_TO_TERMINATION'] = El04_22_3y_combined_copy['DAYS_TO_TERMINATION'].apply(lambda x: 0 if x < 0 else x)

In [ ]:
El04_22_3y_combined_copy[(El04_22_3y_combined_copy['DAYS_TO_TERMINATION']>0) | (El04_22_3y_combined_copy['DAYS_TO_TERMINATION'].isnull())]

In [ ]:
#check if there is negtive value instated 
#El04_22_3y_combined_copy[El04_22_3y_combined_copy['DAYS_TO_TERMINATION']<0]

In [ ]:
El04_22_3y_combined_copy.info()

In [ ]:
# Create a new column 'TURNOVER_FLAG' with default value 0
El04_22_3y_combined_copy['TURNOVER_FLAG'] = 0

# Update the turnover flag for employees who have left
El04_22_3y_combined_copy.loc[El04_22_3y_combined_copy['TERM_DATE'].notnull() & (El04_22_3y_combined_copy['DAYS_TO_TERMINATION'] <= 90), 'TURNOVER_FLAG'] = 1

#Altertive option
#El04_22_3y_CCR_CAR_combined_copy['TURNOVER_FLAG'] = np.where(El04_22_3y_CCR_CAR_combined_copy['DAYS_TO_TERMINATION'] <= 90, 1, 0)

#Update the turnover flag for employees who have not left
El04_22_3y_combined_copy.loc[El04_22_3y_combined_copy['TERM_DATE'].isnull(), 'TURNOVER_FLAG'] = 0

In [ ]:
El04_22_3y_CCC_combined = El04_22_3y_combined_copy[El04_22_3y_combined_copy['RC'].isin(['814461', '851420'])]

In [ ]:
El04_22_3y_CCC_combined['PRESENT_DATE'].sort_values()

In [ ]:
El04_22_3y_CCC_combined.info()

In [ ]:
El04_22_3y_CCC_combined[El04_22_3y_CCC_combined['POS_TITLE'] == 'Customer Advocacy Representative']['PRESENT_DATE'].value_counts()

In [ ]:
El04_22_3y_CCC_combined['POS_TITLE'].value_counts()

In [ ]:
El04_22_3y_CCR_CAR_combined = El04_22_3y_CCC_combined[El04_22_3y_CCC_combined['POS_TITLE'].str.contains('Representative')]

In [ ]:
El04_22_3y_CCC_combined['PRESENT_DATE'].value_counts()

In [ ]:
El04_22_3y_CCR_CAR_combined['PRESENT_DATE'].value_counts()

In [ ]:
El04_22_3y_CCR_CAR_combined.info()

In [ ]:
El04_22_3y_CCR_CAR_combined['TURNOVER_FLAG'].sum()

In [ ]:
(El04_22_3y_CCR_CAR_combined['DAYS_TO_TERMINATION'].isnull())

In [ ]:
(El04_22_3y_CCR_CAR_combined['DAYS_TO_TERMINATION']<=90).sum()

In [ ]:
(El04_22_3y_CCR_CAR_combined['TURNOVER_FLAG'] ==1).sum()

In [ ]:
# date time have been done already
# El04_22_3y_CCC_combined['TERM_DATE'] = pd.to_datetime(El04_22_3y_CCC_combined['TERM_DATE'],format='%d/%m/%Y %H:%M:%S')
# El04_22_3y_CCC_combined['PRESENT_DATE'] = pd.to_datetime(El04_22_3y_CCC_combined['RUNDATE_1'],format='%d/%m/%Y %H:%M:%S')

In [ ]:
El04_22_3y_CCR_CAR_combined[El04_22_3y_CCR_CAR_combined['EMPLOYEE_NO']==1016099]
# El04_22_CCC_3y_combined[El04_22_CCC_3y_combined['EMPLOYEE_NO']==1007654]

In [ ]:
El04_22_3y_CCR_CAR_combined['RUNDATE'].value_counts()

In [ ]:
El04_22_3y_CCR_CAR_combined_copy = El04_22_3y_CCR_CAR_combined.drop(['DAYS_TO_TERMINATION','TERM_DATE','RUNDATE'], axis = 1)

In [ ]:
El04_22_3y_CCR_CAR_combined_copy.to_csv('El04_22_3y_CCR_CAR_combined_copy.csv', index=False)

In [ ]:
El04_22_3y_CCR_CAR_combined_copy['PRESENT_DATE']

In [ ]:
LV04_org = pd.read_excel('//wdcntfsvs01.corporate.nzpost.co.nz/mdaas$/zhenger/My Documents/DR People Turnover Cost/raw data/LV04 3 Years.xlsx',sheet_name='Raw Data',keep_default_na=True,parse_dates=['ACRL_DATE', 'RUN_DATE', 'SERV_DATE'],date_parser=date_parser)

In [ ]:
LV04_org.rename(columns={'RUN_DATE': 'PRESENT_DATE'}, inplace=True)
LV04_org.rename(columns={'EMPLOYEE#': 'EMPLOYEE_NO'}, inplace=True)

In [ ]:
LV04_org['ANNUAL_ANNIV_DATE'] = LV04_org['ANNUAL_ANNIV_DATE'].replace('29/02/2021', '28/02/2021')
LV04_org['ANNUAL_ANNIV_DATE'] = LV04_org['ANNUAL_ANNIV_DATE'].replace('29/02/2022', '28/02/2022')
LV04_org['ANNUAL_ANNIV_DATE'] = LV04_org['ANNUAL_ANNIV_DATE'].replace('29/02/2023', '28/02/2023')

In [ ]:
LV04_org['ANNUAL_ANNIV_DATE']

In [ ]:
LV04_org.info()

In [ ]:
LV04_org_sm = LV04_org.drop(['JOB#','MANAGER#','MANAGER_JOB#','MANAGER_POS#','POSITION_NO','NAME_REPORT','MANAGER_NAME','EMPLOYMENT_TYPE','REGION','PAYGRP','STEP_NO','COMPANY_CODE','CLEVEL','CLASSIFICATION'],axis=1)

In [ ]:
El04_22_LV04_3y_CCR_CAR_combined = pd.merge(El04_22_3y_CCR_CAR_combined_copy, LV04_org_sm, on=['EMPLOYEE_NO', 'PRESENT_DATE'],how='left')

In [ ]:
El04_22_LV04_3y_CCR_CAR_combined.info(verbose=True, show_counts=True)

In [ ]:
El04_22_LV04_3y_CCR_CAR_combined.info()

In [ ]:
El04_22_LV04_3y_CCR_CAR_combined.to_csv('El04_22_LV04_3y_CCR_CAR_combined.csv', index=False)