In [1]:
import pandas as pd
import numpy as np
import matplotlib

In [2]:
pd.reset_option('all')

C:\Users\zhenger\AppData\Local\Temp\ipykernel_1272\2786130087.py:1: FutureWarning: column_space is deprecated and will be removed in a future version. Use df.to_string(col_space=...) instead.
  pd.reset_option('all')
C:\Users\zhenger\AppData\Local\Temp\ipykernel_1272\2786130087.py:1: FutureWarning: As the xlwt package is no longer maintained, the xlwt engine will be removed in a future version of pandas. This is the only engine in pandas that supports writing in the xls format. Install openpyxl and write to an xlsx file instead.
  pd.reset_option('all')
C:\Users\zhenger\AppData\Local\Temp\ipykernel_1272\2786130087.py:1: FutureWarning:
: boolean
    use_inf_as_null had been deprecated and will be removed in a future
    version. Use `use_inf_as_na` instead.

  pd.reset_option('all')

In [3]:
def date_parser(date_str):
    return pd.to_datetime(date_str, format='%d/%m/%Y %H:%M:%S')

In [4]:
EL04_org = pd.read_excel('//wdcntfsvs01.corporate.nzpost.co.nz/mdaas$/zhenger/My Documents/DR People Turnover Cost/raw data/EL04 Historical 3 years.xlsx',sheet_name='Raw Data',keep_default_na=True, parse_dates=['RUNDATE_1', 'FIRST_COMMENCE', 'RUNDATE','ANNL_LV_SERVICE_DT','ACRL_COMMENCE','DATE_OF_BIRTH'], date_parser=date_parser)

In [79]:
EL22_org = pd.read_excel('//wdcntfsvs01.corporate.nzpost.co.nz/mdaas$/zhenger/My Documents/DR People Turnover Cost/raw data/EL22 Historical.xlsx',sheet_name='Raw Data',keep_default_na=True, parse_dates=['SERVICE_DATE', 'HIRE_DATE', 'TERM_DATE','PROCESSED_DATE'], date_parser=date_parser)

ValueError: Missing column provided to 'parse_dates': 'RUNDATE'

In [6]:
EL04_22_org = pd.read_excel('//wdcntfsvs01.corporate.nzpost.co.nz/mdaas$/zhenger/My Documents/DR People Turnover Cost/raw data/el22 and el04.xlsx',sheet_name='Raw Data',keep_default_na=True,parse_dates=['SERVICE_DATE', 'TERM_DATE','PROCESSED_DATE','RUNDATE','FIRST_COMMENCE','ANNL_LV_SERVICE_DT','ACRL_COMMENCE'], date_parser=date_parser)

In [74]:
pd.set_option('display.max_rows',150)
pd.set_option('display.max_columns' , 150)
EL04_org.info(verbose=True, show_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 165771 entries, 0 to 165770
Data columns (total 74 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   EMPLOYEE_NO                165771 non-null  int64
 1   JOB_NO                     165771 non-null  int64
 2   NAME_REPORT                165771 non-null  object
 3   Name with honorific        165771 non-null  object
 4   PREFERRED_NAME             165771 non-null  object
 5   SURNAME                    165771 non-null  object
 6   GENDER                     165765 non-null  object
 7   DATE_OF_BIRTH              158805 non-null  datetime64[ns]
 8   AGE_AT_TERM                158805 non-null  float64
 9   AGE_BAND_AT_TERM           158806 non-null  object
 10  STREET_ADDRESS             165678 non-null  object
 11  TOWN_ADDRESS               154788 non-null  object
 12  ADDRESS_POST3              157639 non-null  object
 13  POST_CODE                  165238 non-null  object
 14  ADDRESS_POST4              165536 non-null  object
 15  ETHNICITY_CODE             151793 non-null  object
 16  ETHNICITY_DESC             151793 non-null  object
 17  LOCATION_CODE              165771 non-null  object
 18  LOCATION_NAME              165771 non-null  object
 19  REGION                     165771 non-null  object
 20  PAYGRP                     165771 non-null  object
 21  POSITION_NO                165771 non-null  int64
 22  POS_TITLE                  165771 non-null  object
 23  OCCUP_TYPE                 165771 non-null  object
 24  GRADE                      165771 non-null  object
 25  STEP_NO                    119810 non-null  object
 26  CATEGORY                   165771 non-null  object
 27  EMPLOYMENT_TYPE            165771 non-null  object
 28  TEMP_OCCUPANCY_END         5372 non-null    object
 29  EMAIL                      78340 non-null   object
 30  FIRST_COMMENCE             165771 non-null  datetime64[ns]
 31  SERVICE_YEARS              165771 non-null  float64
 32  SERVICE_BAND               165771 non-null  object
 33  ANNL_LV_SERVICE_DT         165733 non-null  datetime64[ns]
 34  ANNL_LV_SVCYRS_NEXT_ANNIV  165733 non-null  float64
 35  ACRL_COMMENCE              165636 non-null  datetime64[ns]
 36  EMP_STATUS_CODE            165771 non-null  object
 37  EMP_STAT_DESC              165771 non-null  object
 38  RC                         165771 non-null  object
 39  RC_DESCRIPTION             165771 non-null  object
 40  STD_HOURS_WK               165771 non-null  float64
 41  FTE                        165771 non-null  float64
 42  PERM_TEMP_CAS              165771 non-null  object
 43  FULL_PART_CAS              165771 non-null  object
 44  SALARY_HR                  165771 non-null  float64
 45  SALARY_YEAR                165771 non-null  float64
 46  MANAGER_EMPL               138436 non-null  float64
 47  MANAGER_NAME               138436 non-null  object
 48  MANAGER_POS                138436 non-null  float64
 49  MANAGER_POS_TITLE          138436 non-null  object
 50  UNION_EMPU                 49742 non-null   object
 51  UNION_PWU                  33179 non-null   object
 52  UNION_PSA                  165771 non-null  object
 53  POST_UNLOCK_SUPER          35014 non-null   object
 54  POST_LOCK_SUPER            1391 non-null    object
 55  KIWISAVER_SUPER            123629 non-null  object
 56  COMPANY_CODE               165771 non-null  object
 57  KFS_CLASSIFICATION         165771 non-null  object
 58  CLEVEL                     165771 non-null  object
 59  CLEVEL1_ID                 165771 non-null  object
 60  CLEVEL1_DESC               165771 non-null  object
 61  CLEVEL2_ID                 165771 non-null  object
 62  CLEVEL2_DESC               165771 non-null  object
 63  CLEVEL4_ID                 165771 non-null  object
 64  CLEVEL3_DESC               165771 non-null  object
 65  CLEVEL5_ID                 165771 non-null  object
 66  CLEVEL4_DESC               165771 non-null  object
 67  CLEVEL5_ID_1               165771 non-null  object
 68  CLEVEL5_DESC               165771 non-null  object
 69  RUNDATE                    165771 non-null  datetime64[ns]
 70  TIER                       165771 non-null  int64
 71  POS_LEVEL                  165771 non-null  int64
 72  POSITION_TREE              165771 non-null  object
 73  RUNDATE_1                  165771 non-null  datetime64[ns]
dtypes: datetime64[ns](6), float64(9), int64(5), object(54)
memory usage: 93.6+ MB

In [8]:
EL04_22_org.info(verbose=True, show_counts=True)
EL04_org.info(verbose=True, show_counts=True)
EL22_org.info(verbose=True, show_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7658 entries, 0 to 7657
Data columns (total 115 columns):
 #    Column                     Non-Null Count  Dtype
---   ------                     --------------  -----
 0    COMPANY_CODE               7658 non-null   object
 1    CLEVEL                     7658 non-null   object
 2    EMPLOYEE_NO                7658 non-null   int64
 3    JOB_NO                     7658 non-null   int64
 4    NAME_REPORT                7658 non-null   object
 5    STREET_ADDRESS             7423 non-null   object
 6    TOWN_ADDRESS               6890 non-null   object
 7    ADDRESS_POST3              7044 non-null   object
 8    POST_CODE                  7398 non-null   object
 9    ADDRESS_POST4              7536 non-null   object
 10   LAN_ID                     2370 non-null   object
 11   EMAIL                      2366 non-null   object
 12   SERVICE_DATE               7658 non-null   datetime64[ns]
 13   TERM_DATE                  7658 non-null   datetime64[ns]
 14   DAYS_SINCE_LAST_DAY        7658 non-null   int64
 15   PROCESSED_DATE             6937 non-null   datetime64[ns]
 16   DAYS_AGO_PROCESSED         6937 non-null   float64
 17   TERMINATION_CODE           7658 non-null   object
 18   TERMINATION_REASON         7658 non-null   object
 19   VOLINVOL                   7658 non-null   object
 20   GENDER                     7591 non-null   object
 21   PAYGRP                     7658 non-null   object
 22   EMPLOYMENT_TYPE            7658 non-null   object
 23   EMP_STATUS                 7658 non-null   object
 24   EMP_STAT_DESC              7658 non-null   object
 25   RC                         7658 non-null   object
 26   RC_DESCRIPTION             7658 non-null   object
 27   ADMIN_LOCATION             7657 non-null   object
 28   LOCATION_NAME              7657 non-null   object
 29   POSITION_NO                7658 non-null   int64
 30   POSTITION_TITLE            7658 non-null   object
 31   ELECTORAL Y/N              7658 non-null   object
 32   HAS_PCARD                  7658 non-null   object
 33   ROSTER                     0 non-null      float64
 34   AWARD                      7658 non-null   object
 35   CLASSIFICATION             7658 non-null   object
 36   GRADE                      7658 non-null   object
 37   STEP_NO                    6152 non-null   object
 38   CATEGORY                   7658 non-null   object
 39   MGR_NAME_1UP               855 non-null    object
 40   MGR_ID_1UP                 855 non-null    float64
 41   MGR_POSITION_1UP           855 non-null    float64
 42   MGR_POSITITION_TITLE_1UP   855 non-null    object
 43   CLEVEL1_DESC               7658 non-null   object
 44   CLEVEL2_DESC               7658 non-null   object
 45   CLEVEL3_DESC               7658 non-null   object
 46   CLEVEL4_DESC               7658 non-null   object
 47   CLEVEL5_DESC               7658 non-null   object
 48   EMPLOYEE_NO_1              7658 non-null   int64
 49   JOB_NO_1                   7658 non-null   int64
 50   NAME_REPORT_1              7658 non-null   object
 51   Name with honorific        7658 non-null   object
 52   PREFERRED_NAME             7658 non-null   object
 53   SURNAME                    7658 non-null   object
 54   GENDER_1                   7591 non-null   object
 55   DATE_OF_BIRTH              7069 non-null   object
 56   AGE_AT_TERM                7069 non-null   float64
 57   AGE_BAND_AT_TERM           7113 non-null   object
 58   ETHNICITY_CODE             7093 non-null   object
 59   ETHNICITY_DESC             7093 non-null   object
 60   LOCATION_CODE              7657 non-null   object
 61   LOCATION_NAME_1            7657 non-null   object
 62   REGION                     7658 non-null   object
 63   POSITION_NO_1              7658 non-null   int64
 64   POS_TITLE                  7658 non-null   object
 65   OCCUP_TYPE                 7658 non-null   object
 66   GRADE_1                    7658 non-null   object
 67   STEP_NO_1                  6152 non-null   object
 68   CATEGORY_1                 7658 non-null   object
 69   EMPLOYMENT_TYPE_1          7658 non-null   object
 70   TEMP_OCCUPANCY_END         868 non-null    object
 71   EMAIL_1                    2366 non-null   object
 72   FIRST_COMMENCE             7658 non-null   datetime64[ns]
 73   SERVICE_YEARS              7658 non-null   float64
 74   SERVICE_BAND               7658 non-null   object
 75   ANNL_LV_SERVICE_DT         7230 non-null   datetime64[ns]
 76   ANNL_LV_SVCYRS_NEXT_ANNIV  7230 non-null   float64
 77   ACRL_COMMENCE              7212 non-null   datetime64[ns]
 78   EMP_STATUS_CODE            7658 non-null   object
 79   EMP_STAT_DESC_1            7658 non-null   object
 80   RC_1                       7658 non-null   object
 81   RC_DESCRIPTION_1           7658 non-null   object
 82   STD_HOURS_WK               7658 non-null   float64
 83   FTE                        7658 non-null   float64
 84   PERM_TEMP_CAS              7658 non-null   object
 85   FULL_PART_CAS              7658 non-null   object
 86   SALARY_HR                  7658 non-null   float64
 87   SALARY_YEAR                7658 non-null   float64
 88   MANAGER_EMPL               855 non-null    float64
 89   MANAGER_NAME               855 non-null    object
 90   MANAGER_POS                855 non-null    float64
 91   MANAGER_POS_TITLE          855 non-null    object
 92   UNION_EMPU                 1747 non-null   object
 93   UNION_PWU                  808 non-null    object
 94   UNION_PSA                  7658 non-null   object
 95   POST_UNLOCK_SUPER          530 non-null    object
 96   POST_LOCK_SUPER            27 non-null     object
 97   KIWISAVER_SUPER            5703 non-null   object
 98   COMPANY_CODE_1             7658 non-null   object
 99   KFS_CLASSIFICATION         7658 non-null   object
 100  CLEVEL_1                   7658 non-null   object
 101  CLEVEL1_ID                 7658 non-null   object
 102  CLEVEL1_DESC_1             7658 non-null   object
 103  CLEVEL2_ID                 7658 non-null   object
 104  CLEVEL2_DESC_1             7658 non-null   object
 105  CLEVEL4_ID                 7658 non-null   object
 106  CLEVEL3_DESC_1             7658 non-null   object
 107  CLEVEL5_ID                 7658 non-null   object
 108  CLEVEL4_DESC_1             7658 non-null   object
 109  CLEVEL5_ID_1               7658 non-null   object
 110  CLEVEL5_DESC_1             7658 non-null   object
 111  RUNDATE                    7658 non-null   datetime64[ns]
 112  TIER                       7652 non-null   float64
 113  POS_LEVEL                  7652 non-null   float64
 114  POSITION_TREE              7652 non-null   object
dtypes: datetime64[ns](7), float64(15), int64(7), object(86)
memory usage: 6.7+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 165771 entries, 0 to 165770
Data columns (total 74 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   EMPLOYEE_NO                165771 non-null  int64
 1   JOB_NO                     165771 non-null  int64
 2   NAME_REPORT                165771 non-null  object
 3   Name with honorific        165771 non-null  object
 4   PREFERRED_NAME             165771 non-null  object
 5   SURNAME                    165771 non-null  object
 6   GENDER                     165765 non-null  object
 7   DATE_OF_BIRTH              158805 non-null  datetime64[ns]
 8   AGE_AT_TERM                158805 non-null  float64
 9   AGE_BAND_AT_TERM           158806 non-null  object
 10  STREET_ADDRESS             165678 non-null  object
 11  TOWN_ADDRESS               154788 non-null  object
 12  ADDRESS_POST3              157639 non-null  object
 13  POST_CODE                  165238 non-null  object
 14  ADDRESS_POST4              165536 non-null  object
 15  ETHNICITY_CODE             151793 non-null  object
 16  ETHNICITY_DESC             151793 non-null  object
 17  LOCATION_CODE              165771 non-null  object
 18  LOCATION_NAME              165771 non-null  object
 19  REGION                     165771 non-null  object
 20  PAYGRP                     165771 non-null  object
 21  POSITION_NO                165771 non-null  int64
 22  POS_TITLE                  165771 non-null  object
 23  OCCUP_TYPE                 165771 non-null  object
 24  GRADE                      165771 non-null  object
 25  STEP_NO                    119810 non-null  object
 26  CATEGORY                   165771 non-null  object
 27  EMPLOYMENT_TYPE            165771 non-null  object
 28  TEMP_OCCUPANCY_END         5372 non-null    object
 29  EMAIL                      78340 non-null   object
 30  FIRST_COMMENCE             165771 non-null  datetime64[ns]
 31  SERVICE_YEARS              165771 non-null  float64
 32  SERVICE_BAND               165771 non-null  object
 33  ANNL_LV_SERVICE_DT         165733 non-null  datetime64[ns]
 34  ANNL_LV_SVCYRS_NEXT_ANNIV  165733 non-null  float64
 35  ACRL_COMMENCE              165636 non-null  datetime64[ns]
 36  EMP_STATUS_CODE            165771 non-null  object
 37  EMP_STAT_DESC              165771 non-null  object
 38  RC                         165771 non-null  object
 39  RC_DESCRIPTION             165771 non-null  object
 40  STD_HOURS_WK               165771 non-null  float64
 41  FTE                        165771 non-null  float64
 42  PERM_TEMP_CAS              165771 non-null  object
 43  FULL_PART_CAS              165771 non-null  object
 44  SALARY_HR                  165771 non-null  float64
 45  SALARY_YEAR                165771 non-null  float64
 46  MANAGER_EMPL               138436 non-null  float64
 47  MANAGER_NAME               138436 non-null  object
 48  MANAGER_POS                138436 non-null  float64
 49  MANAGER_POS_TITLE          138436 non-null  object
 50  UNION_EMPU                 49742 non-null   object
 51  UNION_PWU                  33179 non-null   object
 52  UNION_PSA                  165771 non-null  object
 53  POST_UNLOCK_SUPER          35014 non-null   object
 54  POST_LOCK_SUPER            1391 non-null    object
 55  KIWISAVER_SUPER            123629 non-null  object
 56  COMPANY_CODE               165771 non-null  object
 57  KFS_CLASSIFICATION         165771 non-null  object
 58  CLEVEL                     165771 non-null  object
 59  CLEVEL1_ID                 165771 non-null  object
 60  CLEVEL1_DESC               165771 non-null  object
 61  CLEVEL2_ID                 165771 non-null  object
 62  CLEVEL2_DESC               165771 non-null  object
 63  CLEVEL4_ID                 165771 non-null  object
 64  CLEVEL3_DESC               165771 non-null  object
 65  CLEVEL5_ID                 165771 non-null  object
 66  CLEVEL4_DESC               165771 non-null  object
 67  CLEVEL5_ID_1               165771 non-null  object
 68  CLEVEL5_DESC               165771 non-null  object
 69  RUNDATE                    165771 non-null  datetime64[ns]
 70  TIER                       165771 non-null  int64
 71  POS_LEVEL                  165771 non-null  int64
 72  POSITION_TREE              165771 non-null  object
 73  RUNDATE_1                  165771 non-null  datetime64[ns]
dtypes: datetime64[ns](6), float64(9), int64(5), object(54)
memory usage: 93.6+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4157 entries, 0 to 4156
Data columns (total 44 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   COMPANY_CODE              4157 non-null   object
 1   CLEVEL                    4157 non-null   object
 2   EMPLOYEE_NO               4157 non-null   int64
 3   JOB_NO                    4157 non-null   int64
 4   NAME_REPORT               4157 non-null   object
 5   LAN_ID                    1300 non-null   object
 6   EMAIL                     1288 non-null   object
 7   SERVICE_DATE              4157 non-null   datetime64[ns]
 8   HIRE_DATE                 4157 non-null   datetime64[ns]
 9   TERM_DATE                 4157 non-null   datetime64[ns]
 10  DAYS_SINCE_LAST_DAY       4157 non-null   int64
 11  PROCESSED_DATE            3949 non-null   datetime64[ns]
 12  DAYS_AGO_PROCESSED        3949 non-null   float64
 13  TERMINATION_CODE          4157 non-null   object
 14  TERMINATION_REASON        4157 non-null   object
 15  VOLINVOL                  4157 non-null   object
 16  GENDER                    4123 non-null   object
 17  PAYGRP                    4157 non-null   object
 18  EMPLOYMENT_TYPE           4157 non-null   object
 19  EMP_STATUS                4157 non-null   object
 20  EMP_STAT_DESC             4157 non-null   object
 21  RC                        4157 non-null   object
 22  RC_DESCRIPTION            4157 non-null   object
 23  ADMIN_LOCATION            4157 non-null   object
 24  LOCATION_NAME             4157 non-null   object
 25  POSITION_NO               4157 non-null   int64
 26  POSTITION_TITLE           4157 non-null   object
 27  ELECTORAL Y/N             4157 non-null   object
 28  HAS_PCARD                 4157 non-null   object
 29  ROSTER                    0 non-null      float64
 30  AWARD                     4157 non-null   object
 31  CLASSIFICATION            4157 non-null   object
 32  GRADE                     4157 non-null   object
 33  STEP_NO                   3303 non-null   object
 34  CATEGORY                  4157 non-null   object
 35  MGR_NAME_1UP              3403 non-null   object
 36  MGR_ID_1UP                3403 non-null   float64
 37  MGR_POSITION_1UP          3403 non-null   float64
 38  MGR_POSITITION_TITLE_1UP  3403 non-null   object
 39  CLEVEL1_DESC              4157 non-null   object
 40  CLEVEL2_DESC              4157 non-null   object
 41  CLEVEL3_DESC              4157 non-null   object
 42  CLEVEL4_DESC              4157 non-null   object
 43  CLEVEL5_DESC              4157 non-null   object
dtypes: datetime64[ns](4), float64(4), int64(4), object(32)
memory usage: 1.4+ MB

In [37]:
EL22_org_vol = EL22_org[EL22_org['VOLINVOL'] == 'Vol']

In [10]:
# EL04_22_org['TERM_DATE']= pd.to_datetime(EL04_22_org['TERM_DATE'], format='%d/%m/%Y %H:%M:%S')
# EL04_22_org['RUNDATE_1']= pd.to_datetime(EL04_22_org['TERM_DATE'], format='%d/%m/%Y %H:%M:%S')
# EL04_22_org['SERVICE_DATE'] = pd.to_datetime(EL04_22_org["SERVICE_DATE"], format='%d/%m/%Y %H:%M:%S')
# EL22_org["TERM_DATE"] = pd.to_datetime(EL22_org["TERM_DATE"], format='%d/%m/%Y %H:%M:%S')
# EL22_org['RUNDATE_1']= pd.to_datetime(EL04_22_org['TERM_DATE'], format='%d/%m/%Y %H:%M:%S')
# EL22_org['SERVICE_DATE'] = pd.to_datetime(EL22_org["SERVICE_DATE"], format='%d/%m/%Y %H:%M:%S')
# EL04_org["TERM_DATE"] = pd.to_datetime(EL22_org["TERM_DATE"], format='%d/%m/%Y %H:%M:%S')
# EL04_org['RUNDATE_1']= pd.to_datetime(EL04_22_org['TERM_DATE'], format='%d/%m/%Y %H:%M:%S')
# EL04_org['SERVICE_DATE'] = pd.to_datetime(EL22_org["SERVICE_DATE"], format='%d/%m/%Y %H:%M:%S')

In [11]:
EL04_org['RUNDATE_1'].sort_values()

0        2020-04-01
3207     2020-04-01
3206     2020-04-01
3205     2020-04-01
3204     2020-04-01
            ...
162813   2023-03-01
162812   2023-03-01
162811   2023-03-01
162817   2023-03-01
165770   2023-03-01
Name: RUNDATE_1, Length: 165771, dtype: datetime64[ns]

In [ ]:
# # create a sample DataFrame with some null values
# df = pd.DataFrame({'A': [1, 2, None, 4],
#                    'B': ['foo', None, 'bar', 'baz'],
#                    'C': [True, False, None, True]})

# # drop rows where B is null
# filtered_df = df.dropna(subset=['B'])

# # print the filtered DataFrame
# print(filtered_df)

In [38]:
EL22_org_vol.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3112 entries, 0 to 4156
Data columns (total 44 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   COMPANY_CODE              3112 non-null   object
 1   CLEVEL                    3112 non-null   object
 2   EMPLOYEE_NO               3112 non-null   int64
 3   JOB_NO                    3112 non-null   int64
 4   NAME_REPORT               3112 non-null   object
 5   LAN_ID                    1000 non-null   object
 6   EMAIL                     990 non-null    object
 7   SERVICE_DATE              3112 non-null   datetime64[ns]
 8   HIRE_DATE                 3112 non-null   datetime64[ns]
 9   TERM_DATE                 3112 non-null   datetime64[ns]
 10  DAYS_SINCE_LAST_DAY       3112 non-null   int64
 11  PROCESSED_DATE            2923 non-null   datetime64[ns]
 12  DAYS_AGO_PROCESSED        2923 non-null   float64
 13  TERMINATION_CODE          3112 non-null   object
 14  TERMINATION_REASON        3112 non-null   object
 15  VOLINVOL                  3112 non-null   object
 16  GENDER                    3078 non-null   object
 17  PAYGRP                    3112 non-null   object
 18  EMPLOYMENT_TYPE           3112 non-null   object
 19  EMP_STATUS                3112 non-null   object
 20  EMP_STAT_DESC             3112 non-null   object
 21  RC                        3112 non-null   object
 22  RC_DESCRIPTION            3112 non-null   object
 23  ADMIN_LOCATION            3112 non-null   object
 24  LOCATION_NAME             3112 non-null   object
 25  POSITION_NO               3112 non-null   int64
 26  POSTITION_TITLE           3112 non-null   object
 27  ELECTORAL Y/N             3112 non-null   object
 28  HAS_PCARD                 3112 non-null   object
 29  ROSTER                    0 non-null      float64
 30  AWARD                     3112 non-null   object
 31  CLASSIFICATION            3112 non-null   object
 32  GRADE                     3112 non-null   object
 33  STEP_NO                   2440 non-null   object
 34  CATEGORY                  3112 non-null   object
 35  MGR_NAME_1UP              2552 non-null   object
 36  MGR_ID_1UP                2552 non-null   float64
 37  MGR_POSITION_1UP          2552 non-null   float64
 38  MGR_POSITITION_TITLE_1UP  2552 non-null   object
 39  CLEVEL1_DESC              3112 non-null   object
 40  CLEVEL2_DESC              3112 non-null   object
 41  CLEVEL3_DESC              3112 non-null   object
 42  CLEVEL4_DESC              3112 non-null   object
 43  CLEVEL5_DESC              3112 non-null   object
dtypes: datetime64[ns](4), float64(4), int64(4), object(32)
memory usage: 1.1+ MB

In [17]:
#check if all turnover staffs is in two el22 report
pd.set_option('display.max_columns', None)
EL22_org[~EL22_org['EMPLOYEE_NO'].isin(EL04_22_org['EMPLOYEE_NO'])]
#El04_ccc include invol and term_date before 2020/03/24
EL22_org[~EL22_org['EMPLOYEE_NO'].isin(EL04_org['EMPLOYEE_NO'])]
# (EL04_22_CCC_3y['EMPLOYEE_NO'] == '1011031').sum()

,COMPANY_CODE,CLEVEL,EMPLOYEE_NO,JOB_NO,NAME_REPORT,LAN_ID,EMAIL,SERVICE_DATE,HIRE_DATE,TERM_DATE,DAYS_SINCE_LAST_DAY,PROCESSED_DATE,DAYS_AGO_PROCESSED,TERMINATION_CODE,TERMINATION_REASON,VOLINVOL,GENDER,PAYGRP,EMPLOYMENT_TYPE,EMP_STATUS,EMP_STAT_DESC,RC,RC_DESCRIPTION,ADMIN_LOCATION,LOCATION_NAME,POSITION_NO,POSTITION_TITLE,ELECTORAL Y/N,HAS_PCARD,ROSTER,AWARD,CLASSIFICATION,GRADE,STEP_NO,CATEGORY,MGR_NAME_1UP,MGR_ID_1UP,MGR_POSITION_1UP,MGR_POSITITION_TITLE_1UP,CLEVEL1_DESC,CLEVEL2_DESC,CLEVEL3_DESC,CLEVEL4_DESC,CLEVEL5_DESC
0,NZP,NPCSDTRLONTPLNOISINBO0000,1011534,1,"Bajwa, Parshinder Singh",NaN,NaN,2018-08-20,2018-08-20,2020-03-25,1094,NaT,NaN,RFR,Resigned - Child/Family Responsibilities,Vol,M,TFN,F,TAPF,TA Perm Full Time,893467,3PL - Highbrook,PDH,Contract Logistics,3754,Supply Assistant,N,N,NaN,NZPIA,O40D2,CEA Grade 2,02,CEA 123 Perm Full Time,NaN,NaN,NaN,NaN,New Zealand Post Limited,Customer Service Delivery,Transport and Logistics,National Third Party Logistics,North Island Processing
1,NZP,NPPEGPECO0000000000000000,1008723,3,"Crysell, Sarah Caroline",CRYSELSA,Sarah.Crysell@nzpost.co.nz,2016-07-24,2016-07-24,2020-03-26,1093,NaT,NaN,DFA,Subsidiary Empl Ceased,Vol,F,NPAY,N,N,Non Paid,129777,Communications & Engagement,NCE,NZ Post Corporate Office,4434,Principal Communication Advisor - Network Stra...,N,N,NaN,ALL,ALL,DFA,NaN,DFA,"Hughes, Anna",1002220.0,3308.0,GM People Experience and Communications,New Zealand Post Limited,Governance and Sustainability,Communication and Engagement,Communication and Engagement,Communication and Engagement
2,NZP,NPCHACOCECUCA000000000000,1011031,1,"Ah-Ching, Tonia Maria",AHCHITO,Tonia.Ahching@nzpost.co.nz,2018-05-07,2018-05-07,2020-03-26,1093,2020-04-03,1085.0,RCP,Resigned - Career Progress/Prom,Vol,F,TFN,F,TAPF,TA Perm Full Time,814461,Customer Care - Consumer,DMH,Datam Highbrook,1373,NCC Representative - Auckland,N,N,NaN,NZPIA,CSCG4,CEA Grade 4,02,CEA 456 Perm Full Time,"Taiatini, Marianne Jodi",237146.0,1899.0,NCC Team Leader - Auckland,New Zealand Post Limited,Channels,Contact Centre,Contact Centre Customer Care,Contact Centre Customer Care
4,NZP,NPGLT00000000000000000000,1010258,1,"Ellis, Geraldine Yvonne",ELLISGE,Geri.Ellis@nzpost.co.nz,2017-09-25,2017-09-25,2020-03-26,1093,2020-03-27,1092.0,ROT,Resigned - Other,Vol,F,TFN,F,PF,Perm Non-TA Full Time,181625,Executive Leadership Team,AML,Auckland Mail Service Centre,3152,Chief Digital and Technology Officer,N,N,NaN,EXC,EXEC,Manager Exec,NaN,Manager,"Walsh, David James",1006882.0,1473.0,Chief Executive,New Zealand Post Limited,Senior Leadership Team,Senior Leadership Team,Senior Leadership Team,Senior Leadership Team
5,NZP,NPCHACOCECUCA000000000000,1013042,1,"Kaur, Sandeep",NaN,NaN,2020-01-20,2020-01-20,2020-03-26,1093,2020-03-27,1092.0,ROT,Resigned - Other,Vol,F,TFN,F,TAPF,TA Perm Full Time,851420,Customer Care - Business,DMH,Datam Highbrook,1376,NCC Representative - Auckland,N,N,NaN,NZPIA,CSCG4,CEA Grade 4,01,CEA 456 Perm Full Time,"Fruean, Theresa",1013188.0,1900.0,NCC Team Leader - Auckland,New Zealand Post Limited,Channels,Contact Centre,Contact Centre Customer Care,Contact Centre Customer Care
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3976,NZP,NPCSDNORTNTHL000000000000,1017040,1,"Duncan, Hana",NaN,NaN,2023-01-31,2023-01-31,2023-02-02,50,2023-02-17,35.0,RDS,Resigned - Dissatisfied,Vol,F,FN,C,TAC,TA On Call,182252,Northland Processing,WDP,Whangarei CourierPost,1709,Courier and Parcels Officer - Whangarei,N,N,NaN,NZPIA,O40D2,CEA Grade 2,02,CEA 123 On Call,"Mane, Kataraina Te Ruhi",1016753.0,5393.0,Processing Team Leader AM - Whangarei,New Zealand Post Limited,Customer Service Delivery,Northern Service Delivery,Northland Delivery,Northland Delivery
3983,NZP,NPFITFISESHSE000000000000,1016905,1,"Shaw, Anna",NaN,NaN,2022-11-17,2022-11-17,2023-02-03,49,NaT,NaN,DFA,Subsidiary Empl Ceased,Vol,F,NPAY,N,N,Non Paid,151713,Finance Services,NCE,NZ Post Corporate Office,4946,Customer Billing Specialist,N,N,NaN,ALL,ALL,DFA,NaN,DFA,"Scherp, Karen",1017000.0,4025.0,Team Manager Customer Billing,New Zealand Post Limited,Finance,Financial Services,Shared Services,Shared Services
4047,NZP,NPPEOCUCALEDE000000000000,1016537,1,"Matthews, Greta",NaN,Greta.Matthews@nzpost.co.nz,2022-10-03,2022-10-03,2023-02-24,28,NaT,NaN,DFA,Subsidiary Empl Ceased,Vol,U,NPAY,N,N,Non Paid,115407,Learning & Development,AML,Auckland Mail Service Centre,3828,Senior Learning Designer,N,N,NaN,ALL,ALL,DFA,NaN,DFA,"McCarthy, Jan",1014669.0,1187.0,Learning and Development Manager,New Zealand Post Limited,People,Culture and Capability,Learning and Development,Learning and Development
4049,NZP,NPTRATEIHINDE000000000000,1014059,1,"Ford, Rob",NaN,NaN,2021-01-25,2021-01-25,2023-02-24,28,NaT,NaN,DFA,Subsidiary Empl Ceased,Vol,M,NPAY,N,N,Non Paid,168332,Te Iho Programme Office,AML,Auckland Mail Service Centre,4876,Solution Architect Lead,N,N,NaN,ALL,ALL,DFA,NaN,DFA,NaN,NaN,NaN,NaN,New Zealand Post Limited,Transformation,Transformation Te Iho,Transformation Infrastructure Delivery,Transformation Infrastructure Delivery
4068,NZP,NPTRADECH0000000000000000,1014556,1,"Hunt, Tony",HUNTTO,Tony.Hunt2@nzpost.co.nz,2021-05-18,2021-05-18,2023-02-28,24,NaT,NaN,DFA,Subsidiary Empl Ceased,Vol,U,NPAY,N,N,Non Paid,319005,Channel Management,AOC,Auckland CP Op Centre,4618,Programme Change Manager,N,N,NaN,ALL,ALL,DFA,NaN,DFA,"Swinburn, Mark",1015540.0,4454.0,Te Iho Programme Director - APC,New Zealand Post Limited,Transformation,Transformation Design and Change,Design and Change,Design and Change

In [40]:
EL22_org_vol['EMPLOYEE_NO'].nunique()

4062

In [55]:
EL22_org_vol[EL22_org_vol.duplicated(subset='EMPLOYEE_NO', keep=False)]['EMPLOYEE_NO'].sort_values()

17       168636
547      168636
2728     204501
1866     204501
1911     807847
3746     807847
1502     811432
3475     811432
1691     830910
3788     830910
1171     831038
110      831038
3613     831038
181      831807
3494     831807
1549     834198
187      834198
67      1002934
254     1002934
139     1003039
51      1003039
779     1007026
2858    1007026
3207    1007047
70      1007047
467     1008111
3253    1008111
1157    1008377
2744    1008377
4130    1008847
1919    1008847
683     1009611
2970    1009611
830     1010104
3303    1010104
2873    1010386
662     1010386
2105    1010829
942     1010829
745     1010842
3900    1010842
1393    1010971
40      1010971
2531    1011493
306     1011493
473     1011524
1710    1011524
1051    1011810
3590    1011810
636     1011853
1637    1011853
1876    1012078
498     1012078
2154    1012126
1857    1012126
2127    1012147
956     1012147
3683    1012286
1253    1012286
1620    1012554
3366    1012554
4103    1012556
13      1012556
1757    1012559
4091    1012559
71      1012988
3120    1012988
86      1013114
3651    1013114
1179    1013114
4092    1013135
1150    1013135
1642    1013256
3359    1013256
205     1013277
3457    1013277
1412    1013307
449     1013307
1538    1013558
975     1013558
2885    1013747
1198    1013747
920     1013759
2380    1013759
1650    1014220
2316    1014220
1246    1014255
1949    1014255
1771    1014395
3660    1014395
3697    1014432
3813    1014432
1846    1014571
2244    1014571
4123    1014647
3811    1014647
3279    1014676
3051    1014676
3361    1015946
3338    1015946
Name: EMPLOYEE_NO, dtype: int64

In [64]:
EL22_org_vol[EL22_org_vol['EMPLOYEE_NO'] == 831038]

,COMPANY_CODE,CLEVEL,EMPLOYEE_NO,JOB_NO,NAME_REPORT,LAN_ID,EMAIL,SERVICE_DATE,HIRE_DATE,TERM_DATE,DAYS_SINCE_LAST_DAY,PROCESSED_DATE,DAYS_AGO_PROCESSED,TERMINATION_CODE,TERMINATION_REASON,VOLINVOL,GENDER,PAYGRP,EMPLOYMENT_TYPE,EMP_STATUS,EMP_STAT_DESC,RC,RC_DESCRIPTION,ADMIN_LOCATION,LOCATION_NAME,POSITION_NO,POSTITION_TITLE,ELECTORAL Y/N,HAS_PCARD,ROSTER,AWARD,CLASSIFICATION,GRADE,STEP_NO,CATEGORY,MGR_NAME_1UP,MGR_ID_1UP,MGR_POSITION_1UP,MGR_POSITITION_TITLE_1UP,CLEVEL1_DESC,CLEVEL2_DESC,CLEVEL3_DESC,CLEVEL4_DESC,CLEVEL5_DESC
110,NZP,NPCSDNORTREOPPACE00000000,831038,4,"Sopoaga, Irene Lene",SOPOAGIR,NaN,2008-07-29,2008-07-29,2020-05-18,1040,2020-05-29,1029.0,ROT,Resigned - Other,Vol,F,TRMWK,F,TAPF,TA Perm Full Time,851390,Auckland Express Delivery,PCA,Auckland Pace (Head Office),4108,Fleet Support,N,N,NaN,NZPIA,O40D4,CEA Grade 4,03,CEA 456 Perm Full Time,"Lipscombe, Paul Joseph",814492.0,2214.0,Service Delivery Manager - Pace,New Zealand Post Limited,Customer Service Delivery,Northern Service Delivery,Regional Operations,Northern Regional Pace
1171,NZP,NPCSDNORTREOP000000000000,831038,5,"Sopoaga, Irene Lene",SOPOAGIR,NaN,2008-07-29,2008-07-29,2021-03-08,746,2021-03-12,742.0,RFR,Resigned - Child/Family Responsibilities,Vol,F,FN,F,TAPF,TA Perm Full Time,182643,Northern Operations Admin,AML,Auckland Mail Service Centre,1050,Administration and Reception Support - Auckland,N,N,NaN,NZPEU,O40D3,CEA Grade 3,01,CEA 123 Perm Full Time,"Morton, Vicki Banks",145828.0,1043.0,Administration Leader - Auckland,New Zealand Post Limited,Customer Service Delivery,Northern Service Delivery,Regional Operations,Northern Regional Operations
3613,NZP,NPCSDNORTREOPCUSE00000000,831038,6,"Sopoaga, Irene Lene",SOPOAGIR,NaN,2008-07-29,2008-07-29,2022-10-20,155,2022-10-28,147.0,RHA,Resigned - Health,Vol,F,FN,F,TAPF,TA Perm Full Time,892746,Nthn Region Frght Investigatns,AOC,Auckland CP Op Centre,2513,Freight Investigator - ECL Highbrook,N,N,NaN,NZPIA,O40D4,CEA Grade 4,01,CEA 456 Perm Full Time,"Poto, Lorraine",819400.0,4503.0,Freight Investigations Team Leader - ECL Highb...,New Zealand Post Limited,Customer Service Delivery,Northern Service Delivery,Regional Operations,Northern Regional Customer Services

In [66]:
EL04_org[EL04_org['EMPLOYEE_NO'] == 831038]

,EMPLOYEE_NO,JOB_NO,NAME_REPORT,Name with honorific,PREFERRED_NAME,SURNAME,GENDER,DATE_OF_BIRTH,AGE_AT_TERM,AGE_BAND_AT_TERM,STREET_ADDRESS,TOWN_ADDRESS,ADDRESS_POST3,POST_CODE,ADDRESS_POST4,ETHNICITY_CODE,ETHNICITY_DESC,LOCATION_CODE,LOCATION_NAME,REGION,PAYGRP,POSITION_NO,POS_TITLE,OCCUP_TYPE,GRADE,STEP_NO,CATEGORY,EMPLOYMENT_TYPE,TEMP_OCCUPANCY_END,EMAIL,FIRST_COMMENCE,SERVICE_YEARS,SERVICE_BAND,ANNL_LV_SERVICE_DT,ANNL_LV_SVCYRS_NEXT_ANNIV,ACRL_COMMENCE,EMP_STATUS_CODE,EMP_STAT_DESC,RC,RC_DESCRIPTION,STD_HOURS_WK,FTE,PERM_TEMP_CAS,FULL_PART_CAS,SALARY_HR,SALARY_YEAR,MANAGER_EMPL,MANAGER_NAME,MANAGER_POS,MANAGER_POS_TITLE,UNION_EMPU,UNION_PWU,UNION_PSA,POST_UNLOCK_SUPER,POST_LOCK_SUPER,KIWISAVER_SUPER,COMPANY_CODE,KFS_CLASSIFICATION,CLEVEL,CLEVEL1_ID,CLEVEL1_DESC,CLEVEL2_ID,CLEVEL2_DESC,CLEVEL4_ID,CLEVEL3_DESC,CLEVEL5_ID,CLEVEL4_DESC,CLEVEL5_ID_1,CLEVEL5_DESC,RUNDATE,TIER,POS_LEVEL,POSITION_TREE,RUNDATE_1
4653,831038,4,"Sopoaga, Irene Lene",Ms Irene Sopoaga,Irene,Sopoaga,F,1988-01-28,32.17,D 30 to 39 years,15A Picton Street,Papatoetoe,Auckland,2024,New Zealand,NOT,Not Provided,PCA,Auckland Pace (Head Office),AUCK,TRMWK,4108,Fleet Support,SUB,CEA Grade 4,03,CEA 456 Perm Full Time,F,NaN,NaN,2008-07-29,11.67,E 10 - 14 years,2019-01-27,11.0,2015-11-30,TAPF,TA Perm Full Time,851390,Auckland Express Delivery,40.0,1.0,Permanent,Full Time,25.22,52659.36,1002143.0,"Morris, Hope Eva Eva",2214.0,Service Delivery Manager - Pace,EPMU,NaN,,NaN,NaN,NaN,NZP,NZPOST,NPCSDNORTREOPPACE00000000,NP,New Zealand Post Limited,NPCSD,Customer Service Delivery,NPCSDNORTREOP,Northern Service Delivery,NPCSDNORTREOPPACE,Regional Operations,NPCSDNORTREOPPACE,Northern Regional Pace,2023-03-22 04:31:12,6,7,1473 Chief Executive|2561 Chief Operating Offi...,2020-04-01
6100,831038,4,"Sopoaga, Irene Lene",Ms Irene Sopoaga,Irene,Sopoaga,F,1988-01-28,32.26,D 30 to 39 years,15A Picton Street,Papatoetoe,Auckland,2024,New Zealand,NOT,Not Provided,PCA,Auckland Pace (Head Office),AUCK,TRMWK,4108,Fleet Support,SUB,CEA Grade 4,03,CEA 456 Perm Full Time,F,NaN,NaN,2008-07-29,11.75,E 10 - 14 years,2019-01-27,11.0,2015-11-30,TAPF,TA Perm Full Time,851390,Auckland Express Delivery,40.0,1.0,Permanent,Full Time,25.22,52659.36,814492.0,"Lipscombe, Paul Joseph",2214.0,Service Delivery Manager - Pace,EPMU,NaN,,NaN,NaN,NaN,NZP,NZPOST,NPCSDNORTREOPPACE00000000,NP,New Zealand Post Limited,NPCSD,Customer Service Delivery,NPCSDNORTREOP,Northern Service Delivery,NPCSDNORTREOPPACE,Regional Operations,NPCSDNORTREOPPACE,Northern Regional Pace,2023-03-22 04:31:12,6,7,1473 Chief Executive|2561 Chief Operating Offi...,2020-05-01
41428,831038,5,"Sopoaga, Irene Lene",Ms Irene Sopoaga,Irene,Sopoaga,F,1988-01-28,32.84,D 30 to 39 years,15A Picton Street,Papatoetoe,Auckland,2024,New Zealand,NOT,Not Provided,AML,Auckland Mail Service Centre,AUCK,FN,1050,Administration and Reception Support - Auckland,SUB,CEA Grade 3,01,CEA 123 Perm Full Time,F,NaN,NaN,2008-07-29,12.34,E 10 - 14 years,2020-11-30,13.0,2020-11-30,TAPF,TA Perm Full Time,182643,Northern Operations Admin,40.0,1.0,Permanent,Full Time,21.26,44390.88,145828.0,"Morton, Vicki Banks",1043.0,Administration Leader - Auckland,EPMU,NaN,,NaN,NaN,NaN,NZP,NZPOST,NPCSDNORTREOP000000000000,NP,New Zealand Post Limited,NPCSD,Customer Service Delivery,NPCSDNORTREOP,Northern Service Delivery,NPCSDNORTREOP0000,Regional Operations,NPCSDNORTREOP0000,Northern Regional Operations,2023-03-22 04:31:12,5,6,1473 Chief Executive|2561 Chief Operating Offi...,2020-12-01
47133,831038,5,"Sopoaga, Irene Lene",Ms Irene Sopoaga,Irene,Sopoaga,F,1988-01-28,32.92,D 30 to 39 years,15A Picton Street,Papatoetoe,Auckland,2024,New Zealand,NOT,Not Provided,AML,Auckland Mail Service Centre,AUCK,FN,1050,Administration and Reception Support - Auckland,SUB,CEA Grade 3,01,CEA 123 Perm Full Time,F,NaN,NaN,2008-07-29,12.42,E 10 - 14 years,2020-11-30,13.0,2020-11-30,TAPF,TA Perm Full Time,182643,Northern Operations Admin,40.0,1.0,Permanent,Full Time,21.26,44390.88,145828.0,"Morton, Vicki Banks",1043.0,Administration Leader - Auckland,EPMU,NaN,,NaN,NaN,NaN,NZP,NZPOST,NPCSDNORTREOP000000000000,NP,New Zealand Post Limited,NPCSD,Customer Service Delivery,NPCSDNORTREOP,Northern Service Delivery,NPCSDNORTREOP0000,Regional Operations,NPCSDNORTREOP0000,Northern Regional Operations,2023-03-22 04:31:12,5,6,1473 Chief Executive|2561 Chief Operating Offi...,2021-01-01
48857,831038,5,"Sopoaga, Irene Lene",Ms Irene Sopoaga,Irene,Sopoaga,F,1988-01-28,33.01,D 30 to 39 years,15A Picton Street,Papatoetoe,Auckland,2024,New Zealand,NOT,Not Provided,AML,Auckland Mail Service Centre,AUCK,FN,1050,Administration and Reception Support - Auckland,SUB,CEA Grade 3,01,CEA 123 Perm Full Time,F,NaN,NaN,2008-07-29,12.51,E 10 - 14 years,2020-11-30,13.0,2020-11-30,TAPF,TA Perm Full Time,182643,Northern Operations Admin,40.0,1.0,Permanent,Full Time,21.26,44390.88,145828.0,"Morton, Vicki Banks",1043.0,Administration Leader - Auckland,EPMU,NaN,,NaN,NaN,NaN,NZP,NZPOST,NPCSDNORTREOP000000000000,NP,New Zealand Post Limited,NPCSD,Customer Service Delivery,NPCSDNORTREOP,Northern Service Delivery,NPCSDNORTREOP0000,Regional Operations,NPCSDNORTREOP0000,Northern Regional Operations,2023-03-22 04:31:12,5,6,1473 Chief Executive|2561 Chief Operating Offi...,2021-02-01
55246,831038,5,"Sopoaga, Irene Lene",Ms Irene Sopoaga,Irene,Sopoaga,F,1988-01-28,33.08,D 30 to 39 years,15A Picton Street,Papatoetoe,Auckland,2024,New Zealand,NOT,Not Provided,AML,Auckland Mail Service Centre,AUCK,FN,1050,Administration and Reception Support - Auckland,SUB,CEA Grade 3,01,CEA 123 Perm Full Time,F,NaN,NaN,2008-07-29,12.58,E 10 - 14 years,2020-11-30,13.0,2020-11-30,TAPF,TA Perm Full Time,182643,Northern Operations Admin,40.0,1.0,Permanent,Full Time,21.26,44390.88,145828.0,"Morton, Vicki Banks",1043.0,Administration Leader - Auckland,EPMU,NaN,,NaN,NaN,NaN,NZP,NZPOST,NPCSDNORTREOP000000000000,NP,New Zealand Post Limited,NPCSD,Customer Service Delivery,NPCSDNORTREOP,Northern Service Delivery,NPCSDNORTREOP0000,Regional Operations,NPCSDNORTREOP0000,Northern Regional Operations,2023-03-22 04:31:12,5,6,1473 Chief Executive|2561 Chief Operating Offi...,2021-03-01

In [71]:
EL22_org_vol_sm = EL22_org_vol.drop(['NAME_REPORT','GENDER','LOCATION_NAME','PAYGRP','POSITION_NO','GRADE','STEP_NO','CATEGORY','EMPLOYMENT_TYPE','EMAIL','EMP_STAT_DESC','RC','RC_DESCRIPTION','COMPANY_CODE','CLEVEL','CLEVEL1_DESC','CLEVEL2_DESC','CLEVEL3_DESC','CLEVEL4_DESC','CLEVEL5_DESC'],axis=1)

In [75]:
El04_22_3y_combined = pd.merge(EL04_org, EL22_org_vol_sm, on=['EMPLOYEE_NO', 'JOB_NO'],how='left')

In [77]:
El04_22_3y_combined.info(verbose=True, show_counts=True)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 165771 entries, 0 to 165770
Data columns (total 96 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   EMPLOYEE_NO                165771 non-null  int64
 1   JOB_NO                     165771 non-null  int64
 2   NAME_REPORT                165771 non-null  object
 3   Name with honorific        165771 non-null  object
 4   PREFERRED_NAME             165771 non-null  object
 5   SURNAME                    165771 non-null  object
 6   GENDER                     165765 non-null  object
 7   DATE_OF_BIRTH              158805 non-null  datetime64[ns]
 8   AGE_AT_TERM                158805 non-null  float64
 9   AGE_BAND_AT_TERM           158806 non-null  object
 10  STREET_ADDRESS             165678 non-null  object
 11  TOWN_ADDRESS               154788 non-null  object
 12  ADDRESS_POST3              157639 non-null  object
 13  POST_CODE                  165238 non-null  object
 14  ADDRESS_POST4              165536 non-null  object
 15  ETHNICITY_CODE             151793 non-null  object
 16  ETHNICITY_DESC             151793 non-null  object
 17  LOCATION_CODE              165771 non-null  object
 18  LOCATION_NAME              165771 non-null  object
 19  REGION                     165771 non-null  object
 20  PAYGRP                     165771 non-null  object
 21  POSITION_NO                165771 non-null  int64
 22  POS_TITLE                  165771 non-null  object
 23  OCCUP_TYPE                 165771 non-null  object
 24  GRADE                      165771 non-null  object
 25  STEP_NO                    119810 non-null  object
 26  CATEGORY                   165771 non-null  object
 27  EMPLOYMENT_TYPE            165771 non-null  object
 28  TEMP_OCCUPANCY_END         5372 non-null    object
 29  EMAIL                      78340 non-null   object
 30  FIRST_COMMENCE             165771 non-null  datetime64[ns]
 31  SERVICE_YEARS              165771 non-null  float64
 32  SERVICE_BAND               165771 non-null  object
 33  ANNL_LV_SERVICE_DT         165733 non-null  datetime64[ns]
 34  ANNL_LV_SVCYRS_NEXT_ANNIV  165733 non-null  float64
 35  ACRL_COMMENCE              165636 non-null  datetime64[ns]
 36  EMP_STATUS_CODE            165771 non-null  object
 37  EMP_STAT_DESC              165771 non-null  object
 38  RC                         165771 non-null  object
 39  RC_DESCRIPTION             165771 non-null  object
 40  STD_HOURS_WK               165771 non-null  float64
 41  FTE                        165771 non-null  float64
 42  PERM_TEMP_CAS              165771 non-null  object
 43  FULL_PART_CAS              165771 non-null  object
 44  SALARY_HR                  165771 non-null  float64
 45  SALARY_YEAR                165771 non-null  float64
 46  MANAGER_EMPL               138436 non-null  float64
 47  MANAGER_NAME               138436 non-null  object
 48  MANAGER_POS                138436 non-null  float64
 49  MANAGER_POS_TITLE          138436 non-null  object
 50  UNION_EMPU                 49742 non-null   object
 51  UNION_PWU                  33179 non-null   object
 52  UNION_PSA                  165771 non-null  object
 53  POST_UNLOCK_SUPER          35014 non-null   object
 54  POST_LOCK_SUPER            1391 non-null    object
 55  KIWISAVER_SUPER            123629 non-null  object
 56  COMPANY_CODE               165771 non-null  object
 57  KFS_CLASSIFICATION         165771 non-null  object
 58  CLEVEL                     165771 non-null  object
 59  CLEVEL1_ID                 165771 non-null  object
 60  CLEVEL1_DESC               165771 non-null  object
 61  CLEVEL2_ID                 165771 non-null  object
 62  CLEVEL2_DESC               165771 non-null  object
 63  CLEVEL4_ID                 165771 non-null  object
 64  CLEVEL3_DESC               165771 non-null  object
 65  CLEVEL5_ID                 165771 non-null  object
 66  CLEVEL4_DESC               165771 non-null  object
 67  CLEVEL5_ID_1               165771 non-null  object
 68  CLEVEL5_DESC               165771 non-null  object
 69  RUNDATE                    165771 non-null  datetime64[ns]
 70  TIER                       165771 non-null  int64
 71  POS_LEVEL                  165771 non-null  int64
 72  POSITION_TREE              165771 non-null  object
 73  RUNDATE_1                  165771 non-null  datetime64[ns]
 74  LAN_ID                     14132 non-null   object
 75  SERVICE_DATE               35184 non-null   datetime64[ns]
 76  HIRE_DATE                  35184 non-null   datetime64[ns]
 77  TERM_DATE                  35184 non-null   datetime64[ns]
 78  DAYS_SINCE_LAST_DAY        35184 non-null   float64
 79  PROCESSED_DATE             34763 non-null   datetime64[ns]
 80  DAYS_AGO_PROCESSED         34763 non-null   float64
 81  TERMINATION_CODE           35184 non-null   object
 82  TERMINATION_REASON         35184 non-null   object
 83  VOLINVOL                   35184 non-null   object
 84  EMP_STATUS                 35184 non-null   object
 85  ADMIN_LOCATION             35184 non-null   object
 86  POSTITION_TITLE            35184 non-null   object
 87  ELECTORAL Y/N              35184 non-null   object
 88  HAS_PCARD                  35184 non-null   object
 89  ROSTER                     0 non-null       float64
 90  AWARD                      35184 non-null   object
 91  CLASSIFICATION             35184 non-null   object
 92  MGR_NAME_1UP               29742 non-null   object
 93  MGR_ID_1UP                 29742 non-null   float64
 94  MGR_POSITION_1UP           29742 non-null   float64
 95  MGR_POSITITION_TITLE_1UP   29742 non-null   object
dtypes: datetime64[ns](10), float64(14), int64(5), object(67)
memory usage: 122.7+ MB

In [80]:
El04_22_3y_combined.head()

,EMPLOYEE_NO,JOB_NO,NAME_REPORT,Name with honorific,PREFERRED_NAME,SURNAME,GENDER,DATE_OF_BIRTH,AGE_AT_TERM,AGE_BAND_AT_TERM,STREET_ADDRESS,TOWN_ADDRESS,ADDRESS_POST3,POST_CODE,ADDRESS_POST4,ETHNICITY_CODE,ETHNICITY_DESC,LOCATION_CODE,LOCATION_NAME,REGION,PAYGRP,POSITION_NO,POS_TITLE,OCCUP_TYPE,GRADE,STEP_NO,CATEGORY,EMPLOYMENT_TYPE,TEMP_OCCUPANCY_END,EMAIL,FIRST_COMMENCE,SERVICE_YEARS,SERVICE_BAND,ANNL_LV_SERVICE_DT,ANNL_LV_SVCYRS_NEXT_ANNIV,ACRL_COMMENCE,EMP_STATUS_CODE,EMP_STAT_DESC,RC,RC_DESCRIPTION,STD_HOURS_WK,FTE,PERM_TEMP_CAS,FULL_PART_CAS,SALARY_HR,SALARY_YEAR,MANAGER_EMPL,MANAGER_NAME,MANAGER_POS,MANAGER_POS_TITLE,UNION_EMPU,UNION_PWU,UNION_PSA,POST_UNLOCK_SUPER,POST_LOCK_SUPER,KIWISAVER_SUPER,COMPANY_CODE,KFS_CLASSIFICATION,CLEVEL,CLEVEL1_ID,CLEVEL1_DESC,CLEVEL2_ID,CLEVEL2_DESC,CLEVEL4_ID,CLEVEL3_DESC,CLEVEL5_ID,CLEVEL4_DESC,CLEVEL5_ID_1,CLEVEL5_DESC,RUNDATE,TIER,POS_LEVEL,POSITION_TREE,RUNDATE_1,LAN_ID,SERVICE_DATE,HIRE_DATE,TERM_DATE,DAYS_SINCE_LAST_DAY,PROCESSED_DATE,DAYS_AGO_PROCESSED,TERMINATION_CODE,TERMINATION_REASON,VOLINVOL,EMP_STATUS,ADMIN_LOCATION,POSTITION_TITLE,ELECTORAL Y/N,HAS_PCARD,ROSTER,AWARD,CLASSIFICATION,MGR_NAME_1UP,MGR_ID_1UP,MGR_POSITION_1UP,MGR_POSITITION_TITLE_1UP
0,802073,1,"Boston, Helen Maria",Miss Helen Boston,Helen,Boston,F,1954-09-10,65.56,G 60 years and over,2/136 Finlayson Avenue,Clendon Park,Auckland,2103,New Zealand,NaN,NaN,AKB,Victoria Street West Priority Box Lobby,AUCK,WK,2741,Mail Officer - Victoria St West Box Lobby,SUB,CEA Grade 2,NaN,CEA 123 Perm Part Time,P,NaN,NaN,1999-02-23,21.10,F 15 years and over,2011-04-25,13.0,1999-02-23,TAPP,TA Perm Part Time,186649,Victoria St West Priority Box,37.917,0.80432,Permanent,Full Time,21.038,41639.83,200992.0,"Makiri, Tina Ruth",2842.0,Box Lobby Leader - Auckland Central,EPMU,NaN,,PPPU,NaN,NaN,NZP,NZPOST,NPCSDNORTREOPBOLO00000000,NP,New Zealand Post Limited,NPCSD,Customer Service Delivery,NPCSDNORTREOP,Northern Service Delivery,NPCSDNORTREOPBOLO,Regional Operations,NPCSDNORTREOPBOLO,Northern Regional Box Lobbies,2023-03-22 04:31:12,6,7,1473 Chief Executive|2561 Chief Operating Offi...,2020-04-01,NaN,1999-02-23,1999-02-23,2021-10-01,539.0,2021-10-01,539.0,ERT,Enhanced Early Retirement,Vol,TAPP,AKB,Mail Officer - Victoria St West Box Lobby,N,N,NaN,NZPEU,O39D2,"McLeod, Dianne",831206.0,2842.0,Box Lobby Leader - Auckland Central
1,806765,1,"Wade, Frank",Mr Frank Wade,Frank,Wade,M,1978-09-14,41.55,E 40 to 49 years,32 Edmund Hillary Avenue,NaN,Papakura,2110,New Zealand,NaN,NaN,PPP,Papakura Delivery,AUCK,TRMWK,3420,Service Delivery Support - Papakura,SUB,CEA Grade 2,04,CEA 123 Perm Full Time,F,NaN,Frank.Wade@nzpost.co.nz,2001-03-06,19.07,F 15 years and over,2013-03-06,13.0,2001-03-06,TAPF,TA Perm Full Time,140614,Papakura Del Support,37.667,1.00000,Permanent,Full Time,19.940,39206.38,814080.0,"Topia, Ira Josephine",3419.0,Service Delivery Manager - Papakura,NaN,PWU,,PPPU,NaN,KIWI,NZP,NZPOST,NPCSDNORTAUSOPAPA00000000,NP,New Zealand Post Limited,NPCSD,Customer Service Delivery,NPCSDNORTAUSO,Northern Service Delivery,NPCSDNORTAUSOPAPA,Auckland South Delivery,NPCSDNORTAUSOPAPA,Papakura Delivery,2023-03-22 04:31:12,6,7,1473 Chief Executive|2561 Chief Operating Offi...,2020-04-01,NaN,NaT,NaT,NaT,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,809982,1,"Joyce, Gareth William",Mr Gareth Joyce,Gareth,Joyce,M,1980-07-11,39.72,D 30 to 39 years,13A Hillstone Avenue,Gate Pa,Tauranga,3112,New Zealand,NZE,New Zealand European,TGM,Tauranga MSC,AUCK,WK,3832,Delivery Agent - Tauranga,SUB,CEA Grade 2,04,CEA 123 Perm Full Time,F,NaN,NaN,2002-08-12,17.63,F 15 years and over,2017-10-01,16.0,2002-08-12,TAPF,TA Perm Full Time,140304,Tauranga Postal Delivery,37.667,1.00000,Permanent,Full Time,26.800,52694.60,822319.0,"Taugata, Taraia",3189.0,Service Delivery Manager - Tauranga (Delivery),NaN,PWU,,NaN,NaN,KIWI,NZP,NZPOST,NPCSDNORTTAUR000000000000,NP,New Zealand Post Limited,NPCSD,Customer Service Delivery,NPCSDNORTTAUR,Northern Service Delivery,NPCSDNORTTAUR0000,Tauranga Delivery,NPCSDNORTTAUR0000,Tauranga Delivery,2023-03-22 04:31:12,6,7,1473 Chief Executive|2561 Chief Operating Offi...,2020-04-01,NaN,NaT,NaT,NaT,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,814582,2,"Farrington, Jamie Ronald",Mr Jamie Farrington,Jamie,Farrington,M,1984-10-17,35.45,D 30 to 39 years,1/21 Lancaster Road,Beach Haven,Auckland,0626,New Zealand,NZE,New Zealand European,NSD,North Shore Depot,AUCK,TRMWK,2409,Charge Hand - North Shore,SUB,CEA Grade 3,03,CEA 123 Perm Full Time,F,NaN,Jamie.Farrington@nzpost.co.nz,2004-02-25,16.10,F 15 years and over,2018-06-10,15.0,2004-02-25,TAPF,TA Perm Full Time,881285,North Shore Branch Processing,40.000,1.00000,Permanent,Full Time,22.220,46395.36,810228.0,"Su'a, Antony Peseta",4108.0,Operations Manager - Albany,EPMU,NaN,,PPPU,NaN,NaN,NZP,NZPOST,NPCSDNORTAUNOALBA00000000,NP,New Zealand Post Limited,NPCSD,Customer Service Delivery,NPCSDNORTAUNO,Northern Service Delivery,NPCSDNORTAUNOALBA,Auckland North Delivery,NPCSDNORTAUNOALBA,Albany Delivery,2023-03-22 04:31:12,6,7,1473 Chief Executive|2561 Chief Operating Offi...,2020-04-01,NaN,NaT,NaT,NaT,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,816551,2,"Johnson, Jerry Lowell",Mr Jerry Johnson,Jerry,Johnson,M,1967-06-25,52.77,F 50 to 59 years,261C Waikawa Road,Waikawa,Picton,7220,New Zealand,OTH,Other,BMM,Blenheim MSC,MARL,FN,3707,Delivery Agent - Blenheim,SUB,CEA Grade 2,04,CEA 123 Perm Full Time,F,NaN,NaN,2004-10-11,15.47,F 15 years and over,2017-09-24,14.0,2004-10-11,TAPF,TA Perm Full Time,122314,Blenheim Delivery,37.667,1.00000,Permanent,Full Time,22.530,44297.96,1010397.0,"Schluter, Catherine Mary",3550.0,Service Delivery Manager - Blenheim,NaN,PWU,,PPPU,NaN,NaN,NZP,NZPOST,NPCSDCESOCAUSBLEN00000000,NP,New Zealand Post Limited,NPCSD,Customer Service Delivery,NPCSDCESOCAUS,Central and Southern Service Delivery,NPCSDCESOCAUSBLEN,Canterbury Upper South Island Delivery,NPCSDCESOCAUSBLEN,Blenheim Delivery,2023-03-22 04:31:12,7,8,1473 Chief Executive|2561 Chief Operating Offi...,2020-04-01,NaN,2004-10-11,2004-10-11,2022-01-05,443.0,2022-01-07,441.0,RLS,Resigned - Lifestyle,Vol,TAPF,BMM,Delivery Agent - Blenheim,N,N,NaN,NZPPW,DAPM,"Hutchison, Vivian Ann",822636.0,3550.0,Service Delivery Manager - Blenheim

In [81]:
El04_22_3y_CCC_combined = El04_22_3y_combined[El04_22_3y_combined['RC'].isin(['814461', '851420'])]

In [83]:
El04_22_3y_CCC_combined.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5910 entries, 18 to 165748
Data columns (total 96 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   EMPLOYEE_NO                5910 non-null   int64
 1   JOB_NO                     5910 non-null   int64
 2   NAME_REPORT                5910 non-null   object
 3   Name with honorific        5910 non-null   object
 4   PREFERRED_NAME             5910 non-null   object
 5   SURNAME                    5910 non-null   object
 6   GENDER                     5910 non-null   object
 7   DATE_OF_BIRTH              5537 non-null   datetime64[ns]
 8   AGE_AT_TERM                5537 non-null   float64
 9   AGE_BAND_AT_TERM           5537 non-null   object
 10  STREET_ADDRESS             5910 non-null   object
 11  TOWN_ADDRESS               5750 non-null   object
 12  ADDRESS_POST3              5838 non-null   object
 13  POST_CODE                  5910 non-null   object
 14  ADDRESS_POST4              5910 non-null   object
 15  ETHNICITY_CODE             5858 non-null   object
 16  ETHNICITY_DESC             5858 non-null   object
 17  LOCATION_CODE              5910 non-null   object
 18  LOCATION_NAME              5910 non-null   object
 19  REGION                     5910 non-null   object
 20  PAYGRP                     5910 non-null   object
 21  POSITION_NO                5910 non-null   int64
 22  POS_TITLE                  5910 non-null   object
 23  OCCUP_TYPE                 5910 non-null   object
 24  GRADE                      5910 non-null   object
 25  STEP_NO                    5883 non-null   object
 26  CATEGORY                   5910 non-null   object
 27  EMPLOYMENT_TYPE            5910 non-null   object
 28  TEMP_OCCUPANCY_END         14 non-null     object
 29  EMAIL                      5825 non-null   object
 30  FIRST_COMMENCE             5910 non-null   datetime64[ns]
 31  SERVICE_YEARS              5910 non-null   float64
 32  SERVICE_BAND               5910 non-null   object
 33  ANNL_LV_SERVICE_DT         5910 non-null   datetime64[ns]
 34  ANNL_LV_SVCYRS_NEXT_ANNIV  5910 non-null   float64
 35  ACRL_COMMENCE              5910 non-null   datetime64[ns]
 36  EMP_STATUS_CODE            5910 non-null   object
 37  EMP_STAT_DESC              5910 non-null   object
 38  RC                         5910 non-null   object
 39  RC_DESCRIPTION             5910 non-null   object
 40  STD_HOURS_WK               5910 non-null   float64
 41  FTE                        5910 non-null   float64
 42  PERM_TEMP_CAS              5910 non-null   object
 43  FULL_PART_CAS              5910 non-null   object
 44  SALARY_HR                  5910 non-null   float64
 45  SALARY_YEAR                5910 non-null   float64
 46  MANAGER_EMPL               5806 non-null   float64
 47  MANAGER_NAME               5806 non-null   object
 48  MANAGER_POS                5806 non-null   float64
 49  MANAGER_POS_TITLE          5806 non-null   object
 50  UNION_EMPU                 2519 non-null   object
 51  UNION_PWU                  58 non-null     object
 52  UNION_PSA                  5910 non-null   object
 53  POST_UNLOCK_SUPER          166 non-null    object
 54  POST_LOCK_SUPER            36 non-null     object
 55  KIWISAVER_SUPER            5138 non-null   object
 56  COMPANY_CODE               5910 non-null   object
 57  KFS_CLASSIFICATION         5910 non-null   object
 58  CLEVEL                     5910 non-null   object
 59  CLEVEL1_ID                 5910 non-null   object
 60  CLEVEL1_DESC               5910 non-null   object
 61  CLEVEL2_ID                 5910 non-null   object
 62  CLEVEL2_DESC               5910 non-null   object
 63  CLEVEL4_ID                 5910 non-null   object
 64  CLEVEL3_DESC               5910 non-null   object
 65  CLEVEL5_ID                 5910 non-null   object
 66  CLEVEL4_DESC               5910 non-null   object
 67  CLEVEL5_ID_1               5910 non-null   object
 68  CLEVEL5_DESC               5910 non-null   object
 69  RUNDATE                    5910 non-null   datetime64[ns]
 70  TIER                       5910 non-null   int64
 71  POS_LEVEL                  5910 non-null   int64
 72  POSITION_TREE              5910 non-null   object
 73  RUNDATE_1                  5910 non-null   datetime64[ns]
 74  LAN_ID                     1767 non-null   object
 75  SERVICE_DATE               1781 non-null   datetime64[ns]
 76  HIRE_DATE                  1781 non-null   datetime64[ns]
 77  TERM_DATE                  1781 non-null   datetime64[ns]
 78  DAYS_SINCE_LAST_DAY        1781 non-null   float64
 79  PROCESSED_DATE             1726 non-null   datetime64[ns]
 80  DAYS_AGO_PROCESSED         1726 non-null   float64
 81  TERMINATION_CODE           1781 non-null   object
 82  TERMINATION_REASON         1781 non-null   object
 83  VOLINVOL                   1781 non-null   object
 84  EMP_STATUS                 1781 non-null   object
 85  ADMIN_LOCATION             1781 non-null   object
 86  POSTITION_TITLE            1781 non-null   object
 87  ELECTORAL Y/N              1781 non-null   object
 88  HAS_PCARD                  1781 non-null   object
 89  ROSTER                     0 non-null      float64
 90  AWARD                      1781 non-null   object
 91  CLASSIFICATION             1781 non-null   object
 92  MGR_NAME_1UP               1675 non-null   object
 93  MGR_ID_1UP                 1675 non-null   float64
 94  MGR_POSITION_1UP           1675 non-null   float64
 95  MGR_POSITITION_TITLE_1UP   1675 non-null   object
dtypes: datetime64[ns](10), float64(14), int64(5), object(67)
memory usage: 4.4+ MB

In [84]:
El04_22_3y_CCC_combined[El04_22_3y_CCC_combined['POS_TITLE'] == 'Customer Advocacy Representative']['RUNDATE_1'].value_counts()

2022-10-01    6
2022-11-01    6
2022-12-01    6
2023-01-01    6
2023-02-01    6
2023-03-01    6
2022-09-01    3
Name: RUNDATE_1, dtype: int64

In [85]:
El04_22_3y_CCC_combined['POS_TITLE'].value_counts()

Customer Care Representative            2763
NCC Representative - Auckland           2154
NCC - Customer Care Representative       513
CCC Team Leader                          219
NCC Team Leader - Auckland               158
Customer Advocacy Representative          39
Content Writer                            27
Customer Success Specialist               19
Team Support                              16
Customer Servcie Implementation Lead       2
Name: POS_TITLE, dtype: int64

In [86]:
El04_22_3y_CCC_combined[(El04_22_3y_CCC_combined['POS_TITLE'] == 'Customer Advocacy Representative')&(El04_22_3y_CCC_combined['POS_TITLE'] == 'Customer Care Representative')]

Empty DataFrame
Columns: [EMPLOYEE_NO, JOB_NO, NAME_REPORT, Name with honorific, PREFERRED_NAME, SURNAME, GENDER, DATE_OF_BIRTH, AGE_AT_TERM, AGE_BAND_AT_TERM, STREET_ADDRESS, TOWN_ADDRESS, ADDRESS_POST3, POST_CODE, ADDRESS_POST4, ETHNICITY_CODE, ETHNICITY_DESC, LOCATION_CODE, LOCATION_NAME, REGION, PAYGRP, POSITION_NO, POS_TITLE, OCCUP_TYPE, GRADE, STEP_NO, CATEGORY, EMPLOYMENT_TYPE, TEMP_OCCUPANCY_END, EMAIL, FIRST_COMMENCE, SERVICE_YEARS, SERVICE_BAND, ANNL_LV_SERVICE_DT, ANNL_LV_SVCYRS_NEXT_ANNIV, ACRL_COMMENCE, EMP_STATUS_CODE, EMP_STAT_DESC, RC, RC_DESCRIPTION, STD_HOURS_WK, FTE, PERM_TEMP_CAS, FULL_PART_CAS, SALARY_HR, SALARY_YEAR, MANAGER_EMPL, MANAGER_NAME, MANAGER_POS, MANAGER_POS_TITLE, UNION_EMPU, UNION_PWU, UNION_PSA, POST_UNLOCK_SUPER, POST_LOCK_SUPER, KIWISAVER_SUPER, COMPANY_CODE, KFS_CLASSIFICATION, CLEVEL, CLEVEL1_ID, CLEVEL1_DESC, CLEVEL2_ID, CLEVEL2_DESC, CLEVEL4_ID, CLEVEL3_DESC, CLEVEL5_ID, CLEVEL4_DESC, CLEVEL5_ID_1, CLEVEL5_DESC, RUNDATE, TIER, POS_LEVEL, POSITION_TREE, RUNDATE_1, LAN_ID, SERVICE_DATE, HIRE_DATE, TERM_DATE, DAYS_SINCE_LAST_DAY, PROCESSED_DATE, DAYS_AGO_PROCESSED, TERMINATION_CODE, TERMINATION_REASON, VOLINVOL, EMP_STATUS, ADMIN_LOCATION, POSTITION_TITLE, ELECTORAL Y/N, HAS_PCARD, ROSTER, AWARD, CLASSIFICATION, MGR_NAME_1UP, MGR_ID_1UP, MGR_POSITION_1UP, MGR_POSITITION_TITLE_1UP]
Index: []

In [87]:
El04_22_3y_CCC_combined['RUNDATE_1'].value_counts()

2020-11-01    185
2021-04-01    180
2020-09-01    178
2020-12-01    178
2021-05-01    178
2021-06-01    177
2020-10-01    176
2021-01-01    176
2021-11-01    175
2021-10-01    173
2021-09-01    172
2021-12-01    170
2021-02-01    170
2021-07-01    169
2022-04-01    168
2021-03-01    166
2020-04-01    163
2020-06-01    162
2020-05-01    162
2022-01-01    161
2022-05-01    161
2021-08-01    160
2020-07-01    160
2022-11-01    160
2020-08-01    159
2022-10-01    158
2022-12-01    155
2022-02-01    154
2022-03-01    152
2023-01-01    152
2022-06-01    151
2022-09-01    151
2022-07-01    151
2023-02-01    150
2023-03-01    150
2022-08-01    147
Name: RUNDATE_1, dtype: int64

In [92]:
(El04_22_3y_CCC_combined['POS_TITLE'] == 'Customer Advocacy Representative').sum()

39

In [94]:
El04_22_3y_CCC_combined.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5910 entries, 18 to 165748
Data columns (total 96 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   EMPLOYEE_NO                5910 non-null   int64
 1   JOB_NO                     5910 non-null   int64
 2   NAME_REPORT                5910 non-null   object
 3   Name with honorific        5910 non-null   object
 4   PREFERRED_NAME             5910 non-null   object
 5   SURNAME                    5910 non-null   object
 6   GENDER                     5910 non-null   object
 7   DATE_OF_BIRTH              5537 non-null   datetime64[ns]
 8   AGE_AT_TERM                5537 non-null   float64
 9   AGE_BAND_AT_TERM           5537 non-null   object
 10  STREET_ADDRESS             5910 non-null   object
 11  TOWN_ADDRESS               5750 non-null   object
 12  ADDRESS_POST3              5838 non-null   object
 13  POST_CODE                  5910 non-null   object
 14  ADDRESS_POST4              5910 non-null   object
 15  ETHNICITY_CODE             5858 non-null   object
 16  ETHNICITY_DESC             5858 non-null   object
 17  LOCATION_CODE              5910 non-null   object
 18  LOCATION_NAME              5910 non-null   object
 19  REGION                     5910 non-null   object
 20  PAYGRP                     5910 non-null   object
 21  POSITION_NO                5910 non-null   int64
 22  POS_TITLE                  5910 non-null   object
 23  OCCUP_TYPE                 5910 non-null   object
 24  GRADE                      5910 non-null   object
 25  STEP_NO                    5883 non-null   object
 26  CATEGORY                   5910 non-null   object
 27  EMPLOYMENT_TYPE            5910 non-null   object
 28  TEMP_OCCUPANCY_END         14 non-null     object
 29  EMAIL                      5825 non-null   object
 30  FIRST_COMMENCE             5910 non-null   datetime64[ns]
 31  SERVICE_YEARS              5910 non-null   float64
 32  SERVICE_BAND               5910 non-null   object
 33  ANNL_LV_SERVICE_DT         5910 non-null   datetime64[ns]
 34  ANNL_LV_SVCYRS_NEXT_ANNIV  5910 non-null   float64
 35  ACRL_COMMENCE              5910 non-null   datetime64[ns]
 36  EMP_STATUS_CODE            5910 non-null   object
 37  EMP_STAT_DESC              5910 non-null   object
 38  RC                         5910 non-null   object
 39  RC_DESCRIPTION             5910 non-null   object
 40  STD_HOURS_WK               5910 non-null   float64
 41  FTE                        5910 non-null   float64
 42  PERM_TEMP_CAS              5910 non-null   object
 43  FULL_PART_CAS              5910 non-null   object
 44  SALARY_HR                  5910 non-null   float64
 45  SALARY_YEAR                5910 non-null   float64
 46  MANAGER_EMPL               5806 non-null   float64
 47  MANAGER_NAME               5806 non-null   object
 48  MANAGER_POS                5806 non-null   float64
 49  MANAGER_POS_TITLE          5806 non-null   object
 50  UNION_EMPU                 2519 non-null   object
 51  UNION_PWU                  58 non-null     object
 52  UNION_PSA                  5910 non-null   object
 53  POST_UNLOCK_SUPER          166 non-null    object
 54  POST_LOCK_SUPER            36 non-null     object
 55  KIWISAVER_SUPER            5138 non-null   object
 56  COMPANY_CODE               5910 non-null   object
 57  KFS_CLASSIFICATION         5910 non-null   object
 58  CLEVEL                     5910 non-null   object
 59  CLEVEL1_ID                 5910 non-null   object
 60  CLEVEL1_DESC               5910 non-null   object
 61  CLEVEL2_ID                 5910 non-null   object
 62  CLEVEL2_DESC               5910 non-null   object
 63  CLEVEL4_ID                 5910 non-null   object
 64  CLEVEL3_DESC               5910 non-null   object
 65  CLEVEL5_ID                 5910 non-null   object
 66  CLEVEL4_DESC               5910 non-null   object
 67  CLEVEL5_ID_1               5910 non-null   object
 68  CLEVEL5_DESC               5910 non-null   object
 69  RUNDATE                    5910 non-null   datetime64[ns]
 70  TIER                       5910 non-null   int64
 71  POS_LEVEL                  5910 non-null   int64
 72  POSITION_TREE              5910 non-null   object
 73  RUNDATE_1                  5910 non-null   datetime64[ns]
 74  LAN_ID                     1767 non-null   object
 75  SERVICE_DATE               1781 non-null   datetime64[ns]
 76  HIRE_DATE                  1781 non-null   datetime64[ns]
 77  TERM_DATE                  1781 non-null   datetime64[ns]
 78  DAYS_SINCE_LAST_DAY        1781 non-null   float64
 79  PROCESSED_DATE             1726 non-null   datetime64[ns]
 80  DAYS_AGO_PROCESSED         1726 non-null   float64
 81  TERMINATION_CODE           1781 non-null   object
 82  TERMINATION_REASON         1781 non-null   object
 83  VOLINVOL                   1781 non-null   object
 84  EMP_STATUS                 1781 non-null   object
 85  ADMIN_LOCATION             1781 non-null   object
 86  POSTITION_TITLE            1781 non-null   object
 87  ELECTORAL Y/N              1781 non-null   object
 88  HAS_PCARD                  1781 non-null   object
 89  ROSTER                     0 non-null      float64
 90  AWARD                      1781 non-null   object
 91  CLASSIFICATION             1781 non-null   object
 92  MGR_NAME_1UP               1675 non-null   object
 93  MGR_ID_1UP                 1675 non-null   float64
 94  MGR_POSITION_1UP           1675 non-null   float64
 95  MGR_POSITITION_TITLE_1UP   1675 non-null   object
dtypes: datetime64[ns](10), float64(14), int64(5), object(67)
memory usage: 4.4+ MB

In [95]:
El04_22_3y_CCC_combined.sort_values(by='TERM_DATE', ascending=False)
# EL22_CCC_3y['TERM_DATE'].sort_values()

,EMPLOYEE_NO,JOB_NO,NAME_REPORT,Name with honorific,PREFERRED_NAME,SURNAME,GENDER,DATE_OF_BIRTH,AGE_AT_TERM,AGE_BAND_AT_TERM,STREET_ADDRESS,TOWN_ADDRESS,ADDRESS_POST3,POST_CODE,ADDRESS_POST4,ETHNICITY_CODE,ETHNICITY_DESC,LOCATION_CODE,LOCATION_NAME,REGION,PAYGRP,POSITION_NO,POS_TITLE,OCCUP_TYPE,GRADE,STEP_NO,CATEGORY,EMPLOYMENT_TYPE,TEMP_OCCUPANCY_END,EMAIL,FIRST_COMMENCE,SERVICE_YEARS,SERVICE_BAND,ANNL_LV_SERVICE_DT,ANNL_LV_SVCYRS_NEXT_ANNIV,ACRL_COMMENCE,EMP_STATUS_CODE,EMP_STAT_DESC,RC,RC_DESCRIPTION,STD_HOURS_WK,FTE,PERM_TEMP_CAS,FULL_PART_CAS,SALARY_HR,SALARY_YEAR,MANAGER_EMPL,MANAGER_NAME,MANAGER_POS,MANAGER_POS_TITLE,UNION_EMPU,UNION_PWU,UNION_PSA,POST_UNLOCK_SUPER,POST_LOCK_SUPER,KIWISAVER_SUPER,COMPANY_CODE,KFS_CLASSIFICATION,CLEVEL,CLEVEL1_ID,CLEVEL1_DESC,CLEVEL2_ID,CLEVEL2_DESC,CLEVEL4_ID,CLEVEL3_DESC,CLEVEL5_ID,CLEVEL4_DESC,CLEVEL5_ID_1,CLEVEL5_DESC,RUNDATE,TIER,POS_LEVEL,POSITION_TREE,RUNDATE_1,LAN_ID,SERVICE_DATE,HIRE_DATE,TERM_DATE,DAYS_SINCE_LAST_DAY,PROCESSED_DATE,DAYS_AGO_PROCESSED,TERMINATION_CODE,TERMINATION_REASON,VOLINVOL,EMP_STATUS,ADMIN_LOCATION,POSTITION_TITLE,ELECTORAL Y/N,HAS_PCARD,ROSTER,AWARD,CLASSIFICATION,MGR_NAME_1UP,MGR_ID_1UP,MGR_POSITION_1UP,MGR_POSITITION_TITLE_1UP
15338,1008323,2,"Iulio, Sosephina",Miss Josephine Iulio,Josephine,Iulio,F,1978-06-25,42.01,E 40 to 49 years,8 Croydon Road,New Lynn,Auckland,0600,New Zealand,SAM,Samoan,PDH,Contract Logistics,AUCK,WK,2640,NCC Representative - Auckland,SUB,CEA Grade 4,03,CEA 456 Perm Part Time,P,NaN,Josephine.Iulio@nzpost.co.nz,2016-02-29,4.33,C 3 - 4 years,2020-02-29,5.0,2016-02-28,TAPP,TA Perm Part Time,814461,Customer Care - Consumer,40.0,0.550,Permanent,Part Time,23.65,49381.20,1008332.0,"Wayne, Toni Tangi-Moana",2639.0,NCC Team Leader - Auckland,NaN,NaN,,NaN,NaN,KIWI,NZP,NZPOST,NPCHACOCECUCA000000000000,NP,New Zealand Post Limited,NPCHA,Channels,NPCHACOCECUCA,Contact Centre,NPCHACOCECUCA0000,Contact Centre Customer Care,NPCHACOCECUCA0000,Contact Centre Customer Care,2023-03-22 04:31:12,5,6,1473 Chief Executive|0001371 Chief Customer Of...,2020-07-01,IULIOJO,2016-02-29,2016-02-29,2023-03-24,0.0,NaT,NaN,RLS,Resigned - Lifestyle,Vol,TAPP,AML,Customer Care Representative,N,N,NaN,NZPIA,CSCG4,"Graham, Peter James",1008799.0,5035.0,Team Leader - Priority Customers
112081,1008323,2,"Iulio, Sosephina",Miss Josephine Iulio,Josephine,Iulio,F,1978-06-25,43.67,E 40 to 49 years,8 Croydon Road,New Lynn,Auckland,0600,New Zealand,SAM,Samoan,AML,Auckland Mail Service Centre,AUCK,WK,2640,Customer Care Representative,SUB,CEA Grade 4,03,CEA 456 Perm Part Time,P,NaN,Josephine.Iulio@nzpost.co.nz,2016-02-29,6.00,D 5 - 9 years,2020-02-29,5.0,2016-02-28,TAPP,TA Perm Part Time,814461,Customer Care - Consumer,40.0,0.575,Permanent,Part Time,24.36,50862.64,1008332.0,"Wayne, Toni Tangi-Moana",2639.0,CCC Team Leader,NaN,NaN,,NaN,NaN,KIWI,NZP,NZPOST,NPMARCUSECUSBCUCA00000000,NP,New Zealand Post Limited,NPMAR,Customer,NPMARCUSECUSB,Customer Service,NPMARCUSECUSBCUCA,Customer Success Business,NPMARCUSECUSBCUCA,Customer Care Centre,2023-03-22 04:31:12,5,6,1473 Chief Executive|0001371 Chief Customer Of...,2022-03-01,IULIOJO,2016-02-29,2016-02-29,2023-03-24,0.0,NaT,NaN,RLS,Resigned - Lifestyle,Vol,TAPP,AML,Customer Care Representative,N,N,NaN,NZPIA,CSCG4,"Graham, Peter James",1008799.0,5035.0,Team Leader - Priority Customers
1912,1008323,2,"Iulio, Sosephina",Miss Josephine Iulio,Josephine,Iulio,F,1978-06-25,41.77,E 40 to 49 years,8 Croydon Road,New Lynn,Auckland,0600,New Zealand,SAM,Samoan,PDH,Contract Logistics,AUCK,WK,2640,NCC Representative - Auckland,SUB,CEA Grade 4,03,CEA 456 Perm Part Time,P,NaN,Josephine.Iulio@nzpost.co.nz,2016-02-29,4.08,C 3 - 4 years,2020-02-29,5.0,2016-02-28,TAPP,TA Perm Part Time,814461,Customer Care - Consumer,40.0,0.550,Permanent,Part Time,23.65,49381.20,1008332.0,"Wayne, Toni Tangi-Moana",2639.0,NCC Team Leader - Auckland,NaN,NaN,,NaN,NaN,KIWI,NZP,NZPOST,NPCHACOCECUCA000000000000,NP,New Zealand Post Limited,NPCHA,Channels,NPCHACOCECUCA,Contact Centre,NPCHACOCECUCA0000,Contact Centre Customer Care,NPCHACOCECUCA0000,Contact Centre Customer Care,2023-03-22 04:31:12,5,6,1473 Chief Executive|0001371 Chief Customer Of...,2020-04-01,IULIOJO,2016-02-29,2016-02-29,2023-03-24,0.0,NaT,NaN,RLS,Resigned - Lifestyle,Vol,TAPP,AML,Customer Care Representative,N,N,NaN,NZPIA,CSCG4,"Graham, Peter James",1008799.0,5035.0,Team Leader - Priority Customers
90082,1008323,2,"Iulio, Sosephina",Miss Josephine Iulio,Josephine,Iulio,F,1978-06-25,43.35,E 40 to 49 years,8 Croydon Road,New Lynn,Auckland,0600,New Zealand,SAM,Samoan,AML,Auckland Mail Service Centre,AUCK,WK,2640,Customer Care Representative,SUB,CEA Grade 4,03,CEA 456 Perm Part Time,P,NaN,Josephine.Iulio@nzpost.co.nz,2016-02-29,5.67,D 5 - 9 years,2020-02-29,5.0,2016-02-28,TAPP,TA Perm Part Time,814461,Customer Care - Consumer,40.0,0.575,Permanent,Part Time,24.36,50862.64,1008332.0,"Wayne, Toni Tangi-Moana",2639.0,CCC Team Leader,NaN,NaN,,NaN,NaN,KIWI,NZP,NZPOST,NPMARCUSECUSBCUCA00000000,NP,New Zealand Post Limited,NPMAR,Customer,NPMARCUSECUSB,Customer Service,NPMARCUSECUSBCUCA,Customer Success Business,NPMARCUSECUSBCUCA,Customer Care Centre,2023-03-22 04:31:12,5,6,1473 Chief Executive|0001371 Chief Customer Of...,2021-11-01,IULIOJO,2016-02-29,2016-02-29,2023-03-24,0.0,NaT,NaN,RLS,Resigned - Lifestyle,Vol,TAPP,AML,Customer Care Representative,N,N,NaN,NZPIA,CSCG4,"Graham, Peter James",1008799.0,5035.0,Team Leader - Priority Customers
152666,1008323,2,"Iulio, Sosephina",Miss Josephine Iulio,Josephine,Iulio,F,1978-06-25,44.52,E 40 to 49 years,8 Croydon Road,New Lynn,Auckland,0600,New Zealand,SAM,Samoan,AML,Auckland Mail Service Centre,AUCK,WK,2198,Customer Care Representative,SUB,CEA Grade 4,05,CEA 456 Perm Part Time,P,NaN,Josephine.Iulio@nzpost.co.nz,2016-02-29,6.83,D 5 - 9 years,2020-02-29,5.0,2016-02-28,TAPP,TA Perm Part Time,814461,Customer Care - Consumer,40.0,0.575,Permanent,Part Time,28.08,58631.04,NaN,NaN,NaN,NaN,NaN,NaN,,NaN,NaN,KIWI,NZP,NZPOST,NPMARCUSECUSBCUCA00000000,NP,New Zealand Post Limited,NPMAR,Customer,NPMARCUSECUSB,Customer Service,NPMARCUSECUSBCUCA,Customer Success Business,NPMARCUSECUSBCUCA,Customer Care Centre,2023-03-22 04:31:12,5,6,1473 Chief Executive|0001371 Chief Customer Of...,2023-01-01,IULIOJO,2016-02-29,2016-02-29,2023-03-24,0.0,NaT,NaN,RLS,Resigned - Lifestyle,Vol,TAPP,AML,Customer Care Representative,N,N,NaN,NZPIA,CSCG4,"Graham, Peter James",1008799.0,5035.0,Team Leader - Priority Customers
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
165541,1010416,1,"Angaaetau, Anaseini",Miss Anaseini Angaaetau,Anaseini,Angaaetau,F,1992-04-21,30.85,D 30 to 39 years,90 Franklyne Road,Otara,Manukau,2023,New Zealand,TON,Tongan,AML,Auckland Mail Service Centre,AUCK,FN,1379,Customer Care Representative,SUB,CEA Grade,05,CEA 456 Perm Full Time,F,NaN,Anaseini.Angaaetau@nzpost.co.nz,2017-10-24,5.34,D 5 - 9 years,2023-10-24,7.0,2017-10-24,TAPF,TA Perm Full Time,851420,Customer Care - Business,40.0,1.000,Permanent,Full Time,28.08,58631.04,1012964.0,"Tupu, Andy Mafoa",2196.0,CCC Team Leader,EPMU,NaN,,NaN,NaN,KIWI,NZP,NZPOST,NPMARCUSECUSBCUCA00000000,NP,New Zealand Post Limited,NPMAR,Customer,NPMARCUSECUSB,Customer Service,NPMARCUSECUSBCUCA,Customer Success Business,NPMARCUSECUSBCUCA,Customer Care Centre,2023-03-22 04:31:12,5,6,1473 Chief Executive|0001371 Chief Customer Of...,2023-03-01,NaN,NaT,NaT,NaT,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
165561,1012148,1,"George-Makaia, Faithlynn Angel",Ms Faith George-Makaia,Faith,George-Makaia,F,1997-06-16,25.70,C 25 to 29 years,20C Overton Road,Papatoetoe,Auckland,2025,New Zealand,NIU,Niuean,PCA,Auckland Pace (Head Office),AUCK,FN,1367,Customer Care Representative,SUB,CEA Grade,05,CEA 456 Perm Full Time,F,NaN,Faithlynn.Mokole@nzpost.co.nz,2019-03-18,3.94,C 3 - 4 years,2019-03-18,1.0,2019-03-18,TAPF,TA Perm Full Time,851420,Customer Care - Business,40.0,1.000,Permanent,Full Time,28.08,58631.04,1009543.0,"Rogers, Allan",3135.0,CCC Team Leader,EPMU,NaN,,NaN,NaN,KIWI,NZP,NZPOST,NPMARCUSECUSBCUCA00000000,NP,New Zealand Post Limited,NPMAR,Customer,NPMARCUSECUSB,Customer Service,NPMARCUSECUSBCUCA,Customer Success Business,NPMARCUSECUSBCUCA,Customer Care Centre,2023-03-22 04:31:12,5,6,1473 Chief Executive|0001371 Chief Customer Of...,2023-03-01,NaN,NaT,NaT,NaT,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
165704,1016241,1,"Patel, Kirti",Ms Kirti Patel,Kirti,Patel,F,1971-06-24,51.68,F 50 to 59 years,7 Kitchener Road,Sandringham,Auckland,1025,New Zealand,FIJ,Fijian,AML,Auckland Mail Service Centre,AUCK,FN,3417,Customer Care Representative,SUB,CEA Grade,02,CEA 456 Perm Full Time,F,NaN,Kirti.Patel@nzpost.co.nz,2022-07-04,0.65,A Less than 12 months,2022-07-04,1.0,2022-07-04,TAPF,TA Perm Full Time,814461,Customer Care - Consumer,40.0,1.000,Permanent,Full Time,26.34,54997.92,237146.0,"Taiatini, Marianne Jodi",1899.0,CCC Team Leader,EPMU,NaN,,NaN,NaN,KIWI,NZP,NZPOST,NPMARCUSECUSBCUCA00000000,NP,New Zealand Post Limited,NPMAR,Customer,NPMARCUSECUSB,Customer Service,NPMARCUSECUSBCUCA,Customer Success Business,NPMARCUSECUSBCUCA,Customer Care Centre,2023-03-22 04:31:12,5,6,1473 Chief Executive|0001371 Chief Customer Of...,2023-03-01,NaN,NaT,NaT,NaT,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
165745,1013589,1,"Rennie, Aleigha Lily",Miss Aleigha Rennie,Aleigha,Rennie,F,1995-07-10,27.63,C 25 to 29 years,233D Markham Road,RD 3 Drury,Auckland,2579,New Zealand,OTH,Other,PCA,Auckland Pace (Head Office),AUCK,FN,1367,Customer Care Representative,SUB,CEA Grade,04,CEA 456 Perm Full Time,F,NaN,Aleigha.Rennie@nzpost.co.nz,2020-10-05,2.40,B 1 - 2 years,2020-10-05,1.0,2020-10-05,TAPF,TA Perm Full Time,851420,Customer Care - Business,40.0,1.000,Permanent,Full Time,27.50,57420.00,1009543.0,"Rogers, Allan",3135.0,CCC Team Leader,EPMU,NaN,,NaN,NaN,KIWI,NZP,NZPOST,NPMARCUSECUSBCUCA00000000,NP,New Zealand Post Limited,NPMAR,Customer,NPMARCUSECUSB,Customer Service,NPMARCUSECUSBCUCA,Customer Success Business,NPMARCUSECUSBCUCA,Customer Care Centre,2023-03-22 04:31:12,5,6,1473 Chief Executive|0001371 Chief Customer Of...,2023-03-01,NaN,NaT,NaT,NaT,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
165748,1016355,1,"Pulu, Faye",Mrs Faye Pulu,Faye,Pulu,F,1980-02-26,43.01,E 40 to 49 years,50 Archboyd Avenue,Mangere East,Auckland,2024,New Zealand,TON,Tongan,AML,Auckland Mail Service Centre,AUCK,FN,1383,Customer Care Representative,SUB,CEA Grade,02,CEA 456 Perm Full Time,F,NaN,Faye.Pulu@nzpost.co.nz,2022-08-08,0.55,A Less than 12 months,2022-08-08,1.0,2022-08-08,TAPF,TA Perm Full Time,814461,Customer Care - Consumer,40.0,1.000,Permanent,Full Time,26.34,54997.92,1009712.0,"Williams, Rowena Terressa",1898.0,CCC Team Leader,NaN,NaN,,NaN,NaN,KIWI,NZP,NZPOST,NPMARCUSECUSBCUCA00000000,NP,New Zealand Post Limited,NPMAR,Customer,NPMARCUSECUSB,Customer Service,NPMARCUSECUSBCUCA,Customer Success Business,NPMARCUSECUSBCUCA,Customer Care Centre,2023-03-22 04:31:12,5,6,1473 Chief Executive|0001371 Chief Customer Of...,2023-03-01,NaN,NaT,NaT,NaT,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [17]:
El04_22_3y_CCC_combined['TERM_DATE'] = pd.to_datetime(El04_22_3y_CCC_combined['TERM_DATE'],format='%d/%m/%Y %H:%M:%S')
El04_22_3y_CCC_combined['PRESENT_DATE'] = pd.to_datetime(El04_22_3y_CCC_combined['RUNDATE_1'],format='%d/%m/%Y %H:%M:%S')

In [18]:
El04_22_3y_CCC_combined.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 165771 entries, 0 to 165770
Data columns (total 80 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   EMPLOYEE_NO                165771 non-null  int64
 1   JOB_NO                     165771 non-null  int64
 2   NAME_REPORT                165771 non-null  object
 3   Name with honorific        165771 non-null  object
 4   PREFERRED_NAME             165771 non-null  object
 5   SURNAME                    165771 non-null  object
 6   GENDER                     165765 non-null  object
 7   DATE_OF_BIRTH              158805 non-null  object
 8   AGE_AT_TERM                158805 non-null  float64
 9   AGE_BAND_AT_TERM           158806 non-null  object
 10  STREET_ADDRESS             165678 non-null  object
 11  TOWN_ADDRESS               154788 non-null  object
 12  ADDRESS_POST3              157639 non-null  object
 13  POST_CODE                  165238 non-null  object
 14  ADDRESS_POST4              165536 non-null  object
 15  ETHNICITY_CODE             151793 non-null  object
 16  ETHNICITY_DESC             151793 non-null  object
 17  LOCATION_CODE              165771 non-null  object
 18  LOCATION_NAME              165771 non-null  object
 19  REGION                     165771 non-null  object
 20  PAYGRP                     165771 non-null  object
 21  POSITION_NO                165771 non-null  int64
 22  POS_TITLE                  165771 non-null  object
 23  OCCUP_TYPE                 165771 non-null  object
 24  GRADE                      165771 non-null  object
 25  STEP_NO                    119810 non-null  object
 26  CATEGORY                   165771 non-null  object
 27  EMPLOYMENT_TYPE            165771 non-null  object
 28  TEMP_OCCUPANCY_END         5372 non-null    object
 29  EMAIL                      78340 non-null   object
 30  FIRST_COMMENCE             165771 non-null  object
 31  SERVICE_YEARS              165771 non-null  float64
 32  SERVICE_BAND               165771 non-null  object
 33  ANNL_LV_SERVICE_DT         165733 non-null  object
 34  ANNL_LV_SVCYRS_NEXT_ANNIV  165733 non-null  float64
 35  ACRL_COMMENCE              165636 non-null  object
 36  EMP_STATUS_CODE            165771 non-null  object
 37  EMP_STAT_DESC              165771 non-null  object
 38  RC                         165771 non-null  object
 39  RC_DESCRIPTION             165771 non-null  object
 40  STD_HOURS_WK               165771 non-null  float64
 41  FTE                        165771 non-null  float64
 42  PERM_TEMP_CAS              165771 non-null  object
 43  FULL_PART_CAS              165771 non-null  object
 44  SALARY_HR                  165771 non-null  float64
 45  SALARY_YEAR                165771 non-null  float64
 46  MANAGER_EMPL               138436 non-null  float64
 47  MANAGER_NAME               138436 non-null  object
 48  MANAGER_POS                138436 non-null  float64
 49  MANAGER_POS_TITLE          138436 non-null  object
 50  UNION_EMPU                 49742 non-null   object
 51  UNION_PWU                  33179 non-null   object
 52  UNION_PSA                  165771 non-null  object
 53  POST_UNLOCK_SUPER          35014 non-null   object
 54  POST_LOCK_SUPER            1391 non-null    object
 55  KIWISAVER_SUPER            123629 non-null  object
 56  COMPANY_CODE               165771 non-null  object
 57  KFS_CLASSIFICATION         165771 non-null  object
 58  CLEVEL                     165771 non-null  object
 59  CLEVEL1_ID                 165771 non-null  object
 60  CLEVEL1_DESC               165771 non-null  object
 61  CLEVEL2_ID                 165771 non-null  object
 62  CLEVEL2_DESC               165771 non-null  object
 63  CLEVEL4_ID                 165771 non-null  object
 64  CLEVEL3_DESC               165771 non-null  object
 65  CLEVEL5_ID                 165771 non-null  object
 66  CLEVEL4_DESC               165771 non-null  object
 67  CLEVEL5_ID_1               165771 non-null  object
 68  CLEVEL5_DESC               165771 non-null  object
 69  RUNDATE                    165771 non-null  object
 70  TIER                       165771 non-null  int64
 71  POS_LEVEL                  165771 non-null  int64
 72  POSITION_TREE              165771 non-null  object
 73  RUNDATE_1                  165771 non-null  object
 74  SERVICE_DATE               1191 non-null    object
 75  TERM_DATE                  1191 non-null    datetime64[ns]
 76  TERMINATION_CODE           1191 non-null    object
 77  TERMINATION_REASON         1191 non-null    object
 78  VOLINVOL                   1191 non-null    object
 79  PRESENT_DATE               165771 non-null  datetime64[ns]
dtypes: datetime64[ns](2), float64(9), int64(5), object(64)
memory usage: 102.4+ MB

In [19]:
El04_22_3y_CCC_combined['DAYS_TO_TERMINATION'] = (El04_22_3y_CCC_combined['TERM_DATE'] - El04_22_3y_CCC_combined['PRESENT_DATE']).dt.days

In [23]:
El04_22_3y_CCC_combined = El04_22_3y_CCC_combined[(El04_22_3y_CCC_combined['DAYS_TO_TERMINATION']>0) | (El04_22_3y_CCC_combined['DAYS_TO_TERMINATION'].isnull())]

In [ ]:
# El04_22_CCC_3y_combined[El04_22_CCC_3y_combined['EMPLOYEE_NO']==1014950]
# El04_22_CCC_3y_combined[El04_22_CCC_3y_combined['EMPLOYEE_NO']==1007654]
El04_22_3y_CCC_combined[El04_22_3y_CCC_combined['DAYS_TO_TERMINATION']<0]['EMPLOYEE_NO'].value_counts()

In [24]:
El04_22_3y_CCC_combined.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 165755 entries, 0 to 165770
Data columns (total 81 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   EMPLOYEE_NO                165755 non-null  int64
 1   JOB_NO                     165755 non-null  int64
 2   NAME_REPORT                165755 non-null  object
 3   Name with honorific        165755 non-null  object
 4   PREFERRED_NAME             165755 non-null  object
 5   SURNAME                    165755 non-null  object
 6   GENDER                     165749 non-null  object
 7   DATE_OF_BIRTH              158789 non-null  object
 8   AGE_AT_TERM                158789 non-null  float64
 9   AGE_BAND_AT_TERM           158790 non-null  object
 10  STREET_ADDRESS             165662 non-null  object
 11  TOWN_ADDRESS               154773 non-null  object
 12  ADDRESS_POST3              157623 non-null  object
 13  POST_CODE                  165222 non-null  object
 14  ADDRESS_POST4              165520 non-null  object
 15  ETHNICITY_CODE             151777 non-null  object
 16  ETHNICITY_DESC             151777 non-null  object
 17  LOCATION_CODE              165755 non-null  object
 18  LOCATION_NAME              165755 non-null  object
 19  REGION                     165755 non-null  object
 20  PAYGRP                     165755 non-null  object
 21  POSITION_NO                165755 non-null  int64
 22  POS_TITLE                  165755 non-null  object
 23  OCCUP_TYPE                 165755 non-null  object
 24  GRADE                      165755 non-null  object
 25  STEP_NO                    119794 non-null  object
 26  CATEGORY                   165755 non-null  object
 27  EMPLOYMENT_TYPE            165755 non-null  object
 28  TEMP_OCCUPANCY_END         5372 non-null    object
 29  EMAIL                      78324 non-null   object
 30  FIRST_COMMENCE             165755 non-null  object
 31  SERVICE_YEARS              165755 non-null  float64
 32  SERVICE_BAND               165755 non-null  object
 33  ANNL_LV_SERVICE_DT         165717 non-null  object
 34  ANNL_LV_SVCYRS_NEXT_ANNIV  165717 non-null  float64
 35  ACRL_COMMENCE              165620 non-null  object
 36  EMP_STATUS_CODE            165755 non-null  object
 37  EMP_STAT_DESC              165755 non-null  object
 38  RC                         165755 non-null  object
 39  RC_DESCRIPTION             165755 non-null  object
 40  STD_HOURS_WK               165755 non-null  float64
 41  FTE                        165755 non-null  float64
 42  PERM_TEMP_CAS              165755 non-null  object
 43  FULL_PART_CAS              165755 non-null  object
 44  SALARY_HR                  165755 non-null  float64
 45  SALARY_YEAR                165755 non-null  float64
 46  MANAGER_EMPL               138421 non-null  float64
 47  MANAGER_NAME               138421 non-null  object
 48  MANAGER_POS                138421 non-null  float64
 49  MANAGER_POS_TITLE          138421 non-null  object
 50  UNION_EMPU                 49730 non-null   object
 51  UNION_PWU                  33179 non-null   object
 52  UNION_PSA                  165755 non-null  object
 53  POST_UNLOCK_SUPER          35014 non-null   object
 54  POST_LOCK_SUPER            1391 non-null    object
 55  KIWISAVER_SUPER            123614 non-null  object
 56  COMPANY_CODE               165755 non-null  object
 57  KFS_CLASSIFICATION         165755 non-null  object
 58  CLEVEL                     165755 non-null  object
 59  CLEVEL1_ID                 165755 non-null  object
 60  CLEVEL1_DESC               165755 non-null  object
 61  CLEVEL2_ID                 165755 non-null  object
 62  CLEVEL2_DESC               165755 non-null  object
 63  CLEVEL4_ID                 165755 non-null  object
 64  CLEVEL3_DESC               165755 non-null  object
 65  CLEVEL5_ID                 165755 non-null  object
 66  CLEVEL4_DESC               165755 non-null  object
 67  CLEVEL5_ID_1               165755 non-null  object
 68  CLEVEL5_DESC               165755 non-null  object
 69  RUNDATE                    165755 non-null  object
 70  TIER                       165755 non-null  int64
 71  POS_LEVEL                  165755 non-null  int64
 72  POSITION_TREE              165755 non-null  object
 73  RUNDATE_1                  165755 non-null  object
 74  SERVICE_DATE               1175 non-null    object
 75  TERM_DATE                  1175 non-null    datetime64[ns]
 76  TERMINATION_CODE           1175 non-null    object
 77  TERMINATION_REASON         1175 non-null    object
 78  VOLINVOL                   1175 non-null    object
 79  PRESENT_DATE               165755 non-null  datetime64[ns]
 80  DAYS_TO_TERMINATION        1175 non-null    float64
dtypes: datetime64[ns](2), float64(10), int64(5), object(64)
memory usage: 103.7+ MB

In [25]:
El04_22_3y_CCC_combined['PRESENT_DATE'].value_counts()

2020-12-01    4807
2020-04-01    4805
2020-07-01    4784
2020-05-01    4781
2020-06-01    4771
              ...
2022-10-01    4425
2022-06-01    4424
2022-07-01    4390
2022-09-01    4382
2022-08-01    4357
Name: PRESENT_DATE, Length: 36, dtype: int64

In [31]:
El04_22_3y_CCC_combined['TURNOVER_FLAG'] = np.where(El04_22_3y_CCC_combined['DAYS_TO_TERMINATION'] < 90, 1, 0)

In [35]:
(El04_22_3y_CCC_combined['DAYS_TO_TERMINATION']<90).sum()

240

In [33]:
(El04_22_3y_CCC_combined['TURNOVER_FLAG'] ==1).sum()

240

In [ ]:
El04_22_3y_CCC_combined['TURNOVER_FLAG'] = np.where(El04_22_3y_CCC_combined['DAYS_TO_TERMINATION'] < 90, 1, 0)

# Create a new column 'TURNOVER_FLAG' with default value 0
El04_22_3y_CCC_combined['TURNOVER_FLAG'] = 0

# Update the turnover flag for employees who have left
El04_22_3y_CCC_combined.loc[El04_22_3y_CCC_combined['TERM_DATE'].notnull() & (El04_22_3y_CCC_combined['DAYS_TO_TERMINATION'] <= 90), 'TURNOVER_FLAG'] = 1

# Update the turnover flag for employees who have not left
#El04_22_CCC_3y_combined.loc[El04_22_CCC_3y_combined['TERM_DATE'].isnull(), 'TURNOVER_FLAG'] = 0