In [1]:
import pandas as pd
import numpy as np

In [2]:
EL04_org = pd.read_excel('//wdcntfsvs01.corporate.nzpost.co.nz/mdaas$/zhenger/My Documents/DR People Turnover Cost/raw data/EL04 Historical 3 years.xlsx',sheet_name='Raw Data',keep_default_na=True)

In [100]:
EL22_org = pd.read_excel('//wdcntfsvs01.corporate.nzpost.co.nz/mdaas$/zhenger/My Documents/DR People Turnover Cost/raw data/EL22 Historical.xlsx',sheet_name='Raw Data',keep_default_na=True)

In [101]:
EL04_22_org = pd.read_excel('//wdcntfsvs01.corporate.nzpost.co.nz/mdaas$/zhenger/My Documents/DR People Turnover Cost/raw data/el22 and el04.xlsx',sheet_name='Raw Data',keep_default_na=True)

In [65]:
pd.set_option('display.max_rows', 10)
EL04_org.info(verbose=True, show_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 165771 entries, 0 to 165770
Data columns (total 74 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   EMPLOYEE_NO                165771 non-null  int64
 1   JOB_NO                     165771 non-null  int64
 2   NAME_REPORT                165771 non-null  object
 3   Name with honorific        165771 non-null  object
 4   PREFERRED_NAME             165771 non-null  object
 5   SURNAME                    165771 non-null  object
 6   GENDER                     165765 non-null  object
 7   DATE_OF_BIRTH              158805 non-null  object
 8   AGE_AT_TERM                158805 non-null  float64
 9   AGE_BAND_AT_TERM           158806 non-null  object
 10  STREET_ADDRESS             165678 non-null  object
 11  TOWN_ADDRESS               154788 non-null  object
 12  ADDRESS_POST3              157639 non-null  object
 13  POST_CODE                  165238 non-null  object
 14  ADDRESS_POST4              165536 non-null  object
 15  ETHNICITY_CODE             151793 non-null  object
 16  ETHNICITY_DESC             151793 non-null  object
 17  LOCATION_CODE              165771 non-null  object
 18  LOCATION_NAME              165771 non-null  object
 19  REGION                     165771 non-null  object
 20  PAYGRP                     165771 non-null  object
 21  POSITION_NO                165771 non-null  int64
 22  POS_TITLE                  165771 non-null  object
 23  OCCUP_TYPE                 165771 non-null  object
 24  GRADE                      165771 non-null  object
 25  STEP_NO                    119810 non-null  object
 26  CATEGORY                   165771 non-null  object
 27  EMPLOYMENT_TYPE            165771 non-null  object
 28  TEMP_OCCUPANCY_END         5372 non-null    object
 29  EMAIL                      78340 non-null   object
 30  FIRST_COMMENCE             165771 non-null  object
 31  SERVICE_YEARS              165771 non-null  float64
 32  SERVICE_BAND               165771 non-null  object
 33  ANNL_LV_SERVICE_DT         165733 non-null  object
 34  ANNL_LV_SVCYRS_NEXT_ANNIV  165733 non-null  float64
 35  ACRL_COMMENCE              165636 non-null  object
 36  EMP_STATUS_CODE            165771 non-null  object
 37  EMP_STAT_DESC              165771 non-null  object
 38  RC                         165771 non-null  object
 39  RC_DESCRIPTION             165771 non-null  object
 40  STD_HOURS_WK               165771 non-null  float64
 41  FTE                        165771 non-null  float64
 42  PERM_TEMP_CAS              165771 non-null  object
 43  FULL_PART_CAS              165771 non-null  object
 44  SALARY_HR                  165771 non-null  float64
 45  SALARY_YEAR                165771 non-null  float64
 46  MANAGER_EMPL               138436 non-null  float64
 47  MANAGER_NAME               138436 non-null  object
 48  MANAGER_POS                138436 non-null  float64
 49  MANAGER_POS_TITLE          138436 non-null  object
 50  UNION_EMPU                 49742 non-null   object
 51  UNION_PWU                  33179 non-null   object
 52  UNION_PSA                  165771 non-null  object
 53  POST_UNLOCK_SUPER          35014 non-null   object
 54  POST_LOCK_SUPER            1391 non-null    object
 55  KIWISAVER_SUPER            123629 non-null  object
 56  COMPANY_CODE               165771 non-null  object
 57  KFS_CLASSIFICATION         165771 non-null  object
 58  CLEVEL                     165771 non-null  object
 59  CLEVEL1_ID                 165771 non-null  object
 60  CLEVEL1_DESC               165771 non-null  object
 61  CLEVEL2_ID                 165771 non-null  object
 62  CLEVEL2_DESC               165771 non-null  object
 63  CLEVEL4_ID                 165771 non-null  object
 64  CLEVEL3_DESC               165771 non-null  object
 65  CLEVEL5_ID                 165771 non-null  object
 66  CLEVEL4_DESC               165771 non-null  object
 67  CLEVEL5_ID_1               165771 non-null  object
 68  CLEVEL5_DESC               165771 non-null  object
 69  RUNDATE                    165771 non-null  object
 70  TIER                       165771 non-null  int64
 71  POS_LEVEL                  165771 non-null  int64
 72  POSITION_TREE              165771 non-null  object
 73  RUNDATE_1                  165771 non-null  object
dtypes: float64(9), int64(5), object(60)
memory usage: 93.6+ MB

In [66]:
EL04_22_org.info(verbose=True, show_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7658 entries, 0 to 7657
Data columns (total 115 columns):
 #    Column                     Non-Null Count  Dtype
---   ------                     --------------  -----
 0    COMPANY_CODE               7658 non-null   object
 1    CLEVEL                     7658 non-null   object
 2    EMPLOYEE_NO                7658 non-null   int64
 3    JOB_NO                     7658 non-null   int64
 4    NAME_REPORT                7658 non-null   object
 5    STREET_ADDRESS             7423 non-null   object
 6    TOWN_ADDRESS               6890 non-null   object
 7    ADDRESS_POST3              7044 non-null   object
 8    POST_CODE                  7398 non-null   object
 9    ADDRESS_POST4              7536 non-null   object
 10   LAN_ID                     2370 non-null   object
 11   EMAIL                      2366 non-null   object
 12   SERVICE_DATE               7658 non-null   object
 13   TERM_DATE                  7658 non-null   object
 14   DAYS_SINCE_LAST_DAY        7658 non-null   int64
 15   PROCESSED_DATE             6937 non-null   object
 16   DAYS_AGO_PROCESSED         6937 non-null   float64
 17   TERMINATION_CODE           7658 non-null   object
 18   TERMINATION_REASON         7658 non-null   object
 19   VOLINVOL                   7658 non-null   object
 20   GENDER                     7591 non-null   object
 21   PAYGRP                     7658 non-null   object
 22   EMPLOYMENT_TYPE            7658 non-null   object
 23   EMP_STATUS                 7658 non-null   object
 24   EMP_STAT_DESC              7658 non-null   object
 25   RC                         7658 non-null   object
 26   RC_DESCRIPTION             7658 non-null   object
 27   ADMIN_LOCATION             7657 non-null   object
 28   LOCATION_NAME              7657 non-null   object
 29   POSITION_NO                7658 non-null   int64
 30   POSTITION_TITLE            7658 non-null   object
 31   ELECTORAL Y/N              7658 non-null   object
 32   HAS_PCARD                  7658 non-null   object
 33   ROSTER                     0 non-null      float64
 34   AWARD                      7658 non-null   object
 35   CLASSIFICATION             7658 non-null   object
 36   GRADE                      7658 non-null   object
 37   STEP_NO                    6152 non-null   object
 38   CATEGORY                   7658 non-null   object
 39   MGR_NAME_1UP               855 non-null    object
 40   MGR_ID_1UP                 855 non-null    float64
 41   MGR_POSITION_1UP           855 non-null    float64
 42   MGR_POSITITION_TITLE_1UP   855 non-null    object
 43   CLEVEL1_DESC               7658 non-null   object
 44   CLEVEL2_DESC               7658 non-null   object
 45   CLEVEL3_DESC               7658 non-null   object
 46   CLEVEL4_DESC               7658 non-null   object
 47   CLEVEL5_DESC               7658 non-null   object
 48   EMPLOYEE_NO_1              7658 non-null   int64
 49   JOB_NO_1                   7658 non-null   int64
 50   NAME_REPORT_1              7658 non-null   object
 51   Name with honorific        7658 non-null   object
 52   PREFERRED_NAME             7658 non-null   object
 53   SURNAME                    7658 non-null   object
 54   GENDER_1                   7591 non-null   object
 55   DATE_OF_BIRTH              7069 non-null   object
 56   AGE_AT_TERM                7069 non-null   float64
 57   AGE_BAND_AT_TERM           7113 non-null   object
 58   ETHNICITY_CODE             7093 non-null   object
 59   ETHNICITY_DESC             7093 non-null   object
 60   LOCATION_CODE              7657 non-null   object
 61   LOCATION_NAME_1            7657 non-null   object
 62   REGION                     7658 non-null   object
 63   POSITION_NO_1              7658 non-null   int64
 64   POS_TITLE                  7658 non-null   object
 65   OCCUP_TYPE                 7658 non-null   object
 66   GRADE_1                    7658 non-null   object
 67   STEP_NO_1                  6152 non-null   object
 68   CATEGORY_1                 7658 non-null   object
 69   EMPLOYMENT_TYPE_1          7658 non-null   object
 70   TEMP_OCCUPANCY_END         868 non-null    object
 71   EMAIL_1                    2366 non-null   object
 72   FIRST_COMMENCE             7658 non-null   object
 73   SERVICE_YEARS              7658 non-null   float64
 74   SERVICE_BAND               7658 non-null   object
 75   ANNL_LV_SERVICE_DT         7230 non-null   object
 76   ANNL_LV_SVCYRS_NEXT_ANNIV  7230 non-null   float64
 77   ACRL_COMMENCE              7212 non-null   object
 78   EMP_STATUS_CODE            7658 non-null   object
 79   EMP_STAT_DESC_1            7658 non-null   object
 80   RC_1                       7658 non-null   object
 81   RC_DESCRIPTION_1           7658 non-null   object
 82   STD_HOURS_WK               7658 non-null   float64
 83   FTE                        7658 non-null   float64
 84   PERM_TEMP_CAS              7658 non-null   object
 85   FULL_PART_CAS              7658 non-null   object
 86   SALARY_HR                  7658 non-null   float64
 87   SALARY_YEAR                7658 non-null   float64
 88   MANAGER_EMPL               855 non-null    float64
 89   MANAGER_NAME               855 non-null    object
 90   MANAGER_POS                855 non-null    float64
 91   MANAGER_POS_TITLE          855 non-null    object
 92   UNION_EMPU                 1747 non-null   object
 93   UNION_PWU                  808 non-null    object
 94   UNION_PSA                  7658 non-null   object
 95   POST_UNLOCK_SUPER          530 non-null    object
 96   POST_LOCK_SUPER            27 non-null     object
 97   KIWISAVER_SUPER            5703 non-null   object
 98   COMPANY_CODE_1             7658 non-null   object
 99   KFS_CLASSIFICATION         7658 non-null   object
 100  CLEVEL_1                   7658 non-null   object
 101  CLEVEL1_ID                 7658 non-null   object
 102  CLEVEL1_DESC_1             7658 non-null   object
 103  CLEVEL2_ID                 7658 non-null   object
 104  CLEVEL2_DESC_1             7658 non-null   object
 105  CLEVEL4_ID                 7658 non-null   object
 106  CLEVEL3_DESC_1             7658 non-null   object
 107  CLEVEL5_ID                 7658 non-null   object
 108  CLEVEL4_DESC_1             7658 non-null   object
 109  CLEVEL5_ID_1               7658 non-null   object
 110  CLEVEL5_DESC_1             7658 non-null   object
 111  RUNDATE                    7658 non-null   object
 112  TIER                       7652 non-null   float64
 113  POS_LEVEL                  7652 non-null   float64
 114  POSITION_TREE              7652 non-null   object
dtypes: float64(15), int64(7), object(93)
memory usage: 6.7+ MB

In [102]:
EL04_22_org['TERM_DATE']= pd.to_datetime(EL04_22_org['TERM_DATE'], format='%d/%m/%Y %H:%M:%S')
EL22_org["TERM_DATE"] = pd.to_datetime(EL22_org["TERM_DATE"], format='%d/%m/%Y %H:%M:%S')

In [108]:
EL04_22_org["TERM_DATE"].sort_values()

6834   2018-03-23
3108   2018-03-23
3047   2018-03-23
5054   2018-03-23
6917   2018-03-23
          ...
721    2023-03-16
1884   2023-03-16
3086   2023-03-17
6255   2023-03-17
5710   2023-03-17
Name: TERM_DATE, Length: 7658, dtype: datetime64[ns]

In [112]:
EL22_org['TERM_DATE'] >'2020-03-24'

0       True
1       True
2       True
3       True
4       True
        ...
4152    True
4153    True
4154    True
4155    True
4156    True
Name: TERM_DATE, Length: 4157, dtype: bool

In [116]:
EL22_CCC_3y = EL22_org[(EL22_org['TERM_DATE'] > '2020-03-24') & (EL22_org['CLEVEL5_DESC'] == 'Customer Care Centre')]
EL04_22_CCC_3y = EL04_22_org[(EL04_22_org['TERM_DATE'] > '2020-03-24') & (EL04_22_org['CLEVEL5_DESC'] == 'Customer Care Centre')]

In [117]:
pd.set_option('display.max_columns', None)
EL22_CCC_3y[~EL22_CCC_3y['EMPLOYEE_NO'].isin(EL04_22_CCC_3y['EMPLOYEE_NO'])]

,COMPANY_CODE,CLEVEL,EMPLOYEE_NO,JOB_NO,NAME_REPORT,LAN_ID,EMAIL,SERVICE_DATE,HIRE_DATE,TERM_DATE,DAYS_SINCE_LAST_DAY,PROCESSED_DATE,DAYS_AGO_PROCESSED,TERMINATION_CODE,TERMINATION_REASON,VOLINVOL,GENDER,PAYGRP,EMPLOYMENT_TYPE,EMP_STATUS,EMP_STAT_DESC,RC,RC_DESCRIPTION,ADMIN_LOCATION,LOCATION_NAME,POSITION_NO,POSTITION_TITLE,ELECTORAL Y/N,HAS_PCARD,ROSTER,AWARD,CLASSIFICATION,GRADE,STEP_NO,CATEGORY,MGR_NAME_1UP,MGR_ID_1UP,MGR_POSITION_1UP,MGR_POSITITION_TITLE_1UP,CLEVEL1_DESC,CLEVEL2_DESC,CLEVEL3_DESC,CLEVEL4_DESC,CLEVEL5_DESC
4143,NZP,NPMARCUSECUSBCUCA00000000,1014808,1,"Bidesi, Arishma Aris",BIDESICH,Charmis.Bidesi@nzpost.co.nz,16/08/2021 00:00:00,16/08/2021 00:00:00,2023-03-21,3,NaN,NaN,RHA,Resigned - Health,Vol,M,FN,F,TAPF,TA Perm Full Time,814461,Customer Care - Consumer,AML,Auckland Mail Service Centre,1378,Customer Care Representative,N,N,NaN,NZPIA,CSCF4,CEA Grade,04,CEA 456 Perm Full Time,"Iosua, Elizabeth",1012680.0,1901.0,CCC Team Leader,New Zealand Post Limited,Customer,Customer Service,Customer Success Business,Customer Care Centre
4155,NZP,NPMARCUSECUSBCUCA00000000,1008323,2,"Iulio, Sosephina",IULIOJO,Josephine.Iulio@nzpost.co.nz,29/02/2016 00:00:00,29/02/2016 00:00:00,2023-03-24,0,NaN,NaN,RLS,Resigned - Lifestyle,Vol,F,WK,P,TAPP,TA Perm Part Time,814461,Customer Care - Consumer,AML,Auckland Mail Service Centre,5846,Customer Care Representative,N,N,NaN,NZPIA,CSCG4,CEA Grade 4,05,CEA 456 Perm Part Time,"Graham, Peter James",1008799.0,5035.0,Team Leader - Priority Customers,New Zealand Post Limited,Customer,Customer Service,Customer Success Business,Customer Care Centre

In [123]:
EL04_22_CCC_3y.sort_values(by='TERM_DATE', ascending=False)
# EL22_CCC_3y['TERM_DATE'].sort_values()

3501   2021-10-01
1792   2021-10-06
2706   2021-10-19
668    2021-10-29
7479   2021-10-29
          ...
873    2023-02-16
5676   2023-02-28
857    2023-03-06
3738   2023-03-09
7574   2023-03-09
Name: TERM_DATE, Length: 99, dtype: datetime64[ns]

In [124]:
EL04_22_CCC_3y['TERM_DATE'].sort_values()

3501   2021-10-01
1792   2021-10-06
2706   2021-10-19
668    2021-10-29
7479   2021-10-29
          ...
873    2023-02-16
5676   2023-02-28
857    2023-03-06
3738   2023-03-09
7574   2023-03-09
Name: TERM_DATE, Length: 99, dtype: datetime64[ns]